[2018-03-27 11:13] dangershony commented on #1250
Yeah if we already have a delay in the loop we don't need another delay logic in `CanSend` I agree.
And I think this two elements can become ConcurrentDictionaries  `inventoryTxToSend` and `filterInventoryKnown` then we only use the mempool lock when calling the mempool.

[2018-03-27 12:57] dangershony commented on #1131
Ah I see ok so we need to add a list of attempted peers in the -addnode and -connect connectors
I think there is already such flags we just need to enforce them.
Classes are `PeerConnectorConnectNode` and `PeerConnectorAddNode`

And this code needs modification
[code]

[2018-03-27 12:59] bokobza commented on #598
This will be further improved on but if you want to close it @dangershony, I'm happy with it.

[2018-03-27 13:02] bokobza commented on #1230
Nice one @maciejzaleski.
I'll have a look.

[2018-03-27 13:12] bokobza commented on #1233
I think these are the important bits:
`An unhandled exception was thrown by the application. System.ObjectDisposedException: Cannot access a disposed object. Object name: 'LoggerFactory'. at
Microsoft.Extensions.Logging.LoggerFactory.CreateLogger(String categoryName) at Stratis.Bitcoin.Features.Api.LoggingActionFilter..ctor(ILoggerFactory loggerFactory) in
C:\Code\Testing\StratisBitcoinFullNode\sr

[2018-03-27 13:13] bokobza commented on #1233
@maciejzaleski were you also mining while restoring?

[2018-03-27 13:14] maciejzaleski commented on #1233
That is very possible. I kick off mining every time I start the wallet.

[2018-03-27 13:16] dangershony commented on #1250
@Aprogiena had a good comment on the closed PR us the existing constant

[2018-03-27 13:18] dangershony commented on #1240
Why do we not dispose the logger at the end?
[code]

[2018-03-27 13:39] maciejzaleski opened #1254 "[RF] Wallet is not notified if the transaction cannot be fulfilled"
When attempting to spend not matured/recently staked coins the transaction is not accepted to the memory pool and the wallet is not notified of this.

As a result the wallet shows that the transaction has been sent and is pending confirmation wheres in fact the transaction was never shared across the network.

[2018-03-27 13:39] maciejzaleski opened #1255 "Wallet allows to spend not matured/recently staked coins"
Wallet will allow user to spend coins before they are mature.
Such transaction will not be accepted by accepted into the mempool.

[2018-03-27 13:49] dangershony commented on #1255
Is it not enough that the mempool will reject it?
What I mean is the trx still in the wallet even that it got rejected?

[2018-03-27 13:50] dangershony commented on #1254
Ah ok this is a bug and a duplicate of #1255

[2018-03-27 13:53] Aprogiena commented on #1240
The logger is not disposable, right?

[2018-03-27 13:54] maciejzaleski commented on #1254
You can say is a duplicate as it is related to the same issue but in general we should have a way to let the wallet know about transactions which cannot be completed for this or other reasons.

[2018-03-27 13:55] dangershony commented on #1240
Hmm good point so this is ok, that means if the DI is creating instances at dispose then they will throw `Cannot access a disposed object. Object name: 'LoggerFactory'.`

This is ok what we need to understand is why is the DI creating new instances at dispose time.

[2018-03-28 11:10] majikandy opened #1260 "Stratis Core on testnet using mainnet"
Running full node on Mainnet

Stratis Core with "npm start" (which is testnet)

Wallet loads showing 0  TSTRAT

yet the fullnode behind it is on mainnet and shows the syncing status of mainnet etc

[2018-03-28 11:52] #1260 closed

[2018-03-28 11:53] majikandy commented on #1260
@dev0tion fixed ticker to show STRAT

[2018-03-28 14:03] noescape00 opened #1262 "ConsensusLoop race condition"
[code]

Here after the if is evaluated to `true` it is possible that a peer sends us a better chain and we switch to it and after that inner body of the if statement is executed.

Also a race condition is possible for line 400: `this.Chain.SetTip(this.Tip);` (ask @Aprogiena about it)

[2018-03-28 16:44] dangershony commented on #1262
I think this code is only executed when the node is mining.
Whats the consequence of such a race condition?

[2018-03-28 18:28] Aprogiena commented on #1262
Yes, it is kind of a problem that maybe is not critical, because it is quite likely that in most cases the node will recover from it.

But it is immediate sign of wrong design, specifically concurrent chain. So it is just another reminder that concurrent chain should be redesigned. In the last PR that Ivan submitted, we tried to move all logic that changes the concurrent chains tip into the new co

[2018-03-29 13:24] dangershony commented on #598
yeah the main issue of a too bi wallet was full hex stored in the wallet so this can be closed now.

[2018-03-29 13:24] #598 closed

[2018-03-29 13:31] dangershony opened #1263 "Api project (and RPC) to allow ssl endpoints"
The ssl key can be a stored as a file in disk with special permissions.

[2018-03-30 13:28] #1107 closed

[2018-03-31 23:11] clintm90 opened #1265 "please adding method of handle payments on API"
Please add methods for handle payments like getreceveidbyaddress for implementing FN as payment gateway :+1:

thanks

[2018-04-02 07:51] bokobza commented on #1265
Good idea. Thanks @clintm90 .

[2018-04-02 12:45] clintm90 commented on #1265
Maybe you can also do like electrum, i have discovered this : http://docs.electrum.org/en/latest/_images/payrequest.png at http://docs.electrum.org/en/latest/merchant.html

(it's an other things)

[2018-04-03 18:16] dangershony commented on #1265
Absolutely a good idea, I am not sure we have capacity right now in the team but I think we can get that as a bounty on the foundation @StratisDeveloper

[2018-04-03 21:52] clintm90 commented on #1265
i would like to make a block explorer but i was banned from your discord

[2018-04-03 23:01] dangershony commented on #1265
Dude what have you done to deserve exile?

Find me on SDF maybe I can fix this.

[2018-04-06 12:16] noescape00 opened #1278 "Merkle calculation issues"
There are 2 issues:

1) `BlockMerkleRootRule` has it's implementation of the merkle tree calculation which is a copy paste from the PowConsensusValidator. So there are 2 copies of the same functionality and the one that is not covered by tests is being used.

2) `BlockMerkleRootRule` throws in case merkle tree was mutated (`ConsensusErrors.BadTransactionDuplicate.Throw();`). This exception is bein

[2018-04-08 09:09] Aprogiena commented on #637
but it does not say "not respond twice", it said "do not respond at all"

[2018-04-09 10:49] dangershony commented on #1278
1. Very good point the tests in `MerkeRootComputationTest` should point to the `BlockMerkleRootRule` rule instead of the methods in PowConsensusValidator, how did get slip by me I am not sure.

2. So we probably need to create a new consensus error type for this behaviour.

Very good @noescape00

[2018-04-09 10:56] noescape00 commented on #1278
We can do it like that (create a type of errors that doesn't lead to banning the block) or do it the same way as `InvalidPrevTip` or `BadWitnessNonceSize` errors are handled in the consensus loop. Those 2 have custom handling and do not ban the block or peer so probably we can add there `BadTransactionDuplicate` exception and just ban the peer but avoid banning the block.

[2018-04-09 11:42] noescape00 commented on #1206
Upd:

Mempool accepts txes that pay 0 fee. When it's full we trim it and raise the min fee for a tx to be accepted. This basically leads to the ability to fill the mempool with txes that will never be mined (there is a non 0 threshold for a tx to be included in the block template while mining).

So 300mb of junk txes can be created by attacker at no cost at all.
Also after trimming and `rollingMin

[2018-04-09 11:46] noescape00 opened #1283 "Min fee estimation for a wallet is too high"
Wallet min fee estimation is ~60 times bigger than actual.
With empty blocks the min fee to get into the block is: `tx serialized size / 100000000` (`PowBlockAssembler.cs:499`)

So for a tx that is 229 bytes fee is 0.00000229 and the wallet estimation algho says its 0.00013800

[2018-04-09 11:50] majikandy opened #1284 "staking via Stratis Core stakes the whole wallet not just account 0"
Currently the staking isn't provisioned at account level, only at wallet level. This means that even though the wallet currently only supports account 0, it actually stakes the whole of the wallet as this is all the full node can currently do.

[2018-04-09 16:56] Aprogiena commented on #1228
how do we know this is wallet related? or do we know the cause already?

[2018-04-11 00:40] D3m0nKingx opened #1291 "[Stratis.BreezeD] System.InvalidOperationException"
[code]

[2018-04-11 15:06] majikandy opened #1294 "spending staking balance doesn't reduce the staking weight even though staking stops for that stake"
spending balance during staking doesn't reduce the staking weight.

It does change the staking to false, even though enabled is true.

Eg a wallet with 3ish strat, started staking and then spent 3 strat.

http://localhost:37221/api/Miner/getstakinginfo
Response Body
{
  "enabled": true,
  "staking": false,
  "errors": null,
  "currentBlockSize": 1051,
  "currentBlockTx": 3,
  "pooledTx": 2,
  "dif

[2018-04-12 07:02] Aprogiena commented on #1294
The mechanics of this is that enabled indicates if the staking was enabled in this instance, but does not necessarily means you can stake. Staking means whether you stake at the very moment. And weight and expectedTime are only valid if staking is true.

But it is no problem to make those 2 valid even if staking is false. The easiest way to do it is probably to create the setter for staking proper

[2018-04-12 13:00] Aprogiena commented on #1278
just add that if for now

[2018-04-12 21:57] majikandy opened #1298 "merge unit tests into a single project with folders per assembly tested"
Unless the projects are likely to be used independently of each other and/or composed into other solution files.  The only benefit of having separate unit tests per assembly is having a logical separation.

The separation can be achieved very simply in a single unit test project by having a folder per tested assembly.

I have used this approach at several companies and it works really well.   One

[2018-04-13 11:01] majikandy opened #1299 "Unit tests intermittent failure when running as a group (removing directories not empty)"
Many unit tests are using a TestBase with creates and removes Data directories etc.

This sometimes fails when running all tests due to folders not being empty or files being locked.  Rerunning these tests individually again gives a pass.

This is not good behaviour to have. They should be 100% reliable whether run as a group or individually.

The main problem as I see it here is that unit tests s

[2018-04-16 08:29] bokobza commented on #1291
Hi @D3m0nKingx , what did you run?

[2018-04-16 08:49] D3m0nKingx commented on #1291
Stratis.BreezeD. Same exception occurs on mainnet for bitcoin and stratis

[2018-04-16 08:55] D3m0nKingx commented on #1291
It works fine on commit [dc9c40](https://github.com/stratisproject/StratisBitcoinFullNode/pull/1193)

[2018-04-16 09:40] bokobza commented on #1291
I'll have a look, thanks mate.

[2018-04-16 12:27] majikandy commented on #1299
That looks useful,  I do wonder if this is sticking a "band aid" on the issue instead of actually resolving it. In a way, the current behaviour has highlighted too much file system stuff perhaps?

[2018-04-17 09:06] majikandy commented on #1283
![60x](https://user-images.githubusercontent.com/444711/38859865-d54b49d4-4226-11e8-9e4c-8e5e69eacd90.PNG)

Here we can see where the fallback fee of 60x the 0.00001 / kb    ->  0.0006 /kb

[2018-04-17 09:12] majikandy commented on #1283
In the call to wallet fee policy we can see that the smart fee isn't estimated as that code is commented out. And instead it uses a fallback value

[code]
In discussions with @bokobza, this is a bigger piece of work for the fee estimator, so this fallback fee was chosen as something quite high to help make sure transactions using the wallet get included in a block soon.

Further discussion with @n

[2018-04-18 00:01] sondreb opened #1307 "Logs (log4net) folder does not respect the -datadir when working folder different from .dll"
When launching the daemon from the .csproj location using PowerShell and specifying the working directory, the wallet files (written with FileStorage) is written relative to the working folder (which I would expect is correct), while the Logs folder is written relative to the .dll files, which is wrong.

[code]

I have fixed the issue and will supply a PR related to this bug report. The tests supp

[2018-04-18 07:44] Aprogiena commented on #1307
would it not make better sense to ensure that LogPath (and other paths in DataFolder) are rooted?

[2018-04-18 09:15] Aprogiena commented on #1307
what i mean is that it makes better sense to me to address the issue in DataFolder rather then in each end code when it is used

[2018-04-18 15:12] einewton commented on #1207
I am also having this same issue.. Quite annoying.

[2018-04-19 16:08] sondreb commented on #1307
Could be an idea to root all the paths in DataFolder, but that would be a bigger change that would need additional integration testing to verify. Perhaps accept this PR, and then we could investigate if rooting all the paths would make sense?

[2018-04-19 16:59] Aprogiena commented on #1307
If there is issue with one path, it can very much happen with any other path. Fixing it at 1 place for everything seems to be better approach than just to fix every particular instance one by one. So I would suggest to go that way instead of this PR, but feel free to wait for opinions of others.

[2018-04-21 14:46] sondreb commented on #1307
The issue is really with path for log files, produced by log4net, currently can end up somewhere other than the normal data files.

Changing DataFolder to root all the paths is likely a major refactoring job, considering there are hundreds of usage of DataFolder and many File IO operations done throughout the code base. If even a single one of those read/write operations changes position, it can b

[2018-04-21 15:54] Aprogiena commented on #1307
That has to be some kind of misunderstanding. My idea was only to ensure that the DataFolder class does not have any relative paths. This can be achieved by a trivial change in a single function. Then it should not matter which API is used for working with those paths because they will be rooted. So in terms of complexity this would be a slight PR as your original, except that it would fix all pot

[2018-04-22 06:31] Neurosploit opened #1312 "Staking stops after reorg"
After running the node on testnet and stake successfully for several weeks in a row it finally found an issue and stopped working. The rest of the node kept working just fine. Now this is not the latest code (few weeks old) so I'm not entirely sure if this is fixed already since the stacktrace is really small. I think the easiest way to test this is to create an integration test and force a reorg

[2018-04-22 08:00] Neurosploit commented on #1312
It might me fixed by this already: https://github.com/stratisproject/StratisBitcoinFullNode/commit/522ab213a1a1361dc921102d2d481dfce676a624

[2018-04-22 19:31] noescape00 opened #1315 "Checkpoints are always disabled"
If `settings.UseCheckpoints` is `false` we won't load the checkpoints:

Checkpoints.cs: 157

[code]

The problem is that we call the checkpoints constructor and check that `settings.UseCheckpoints` before we load the value in ConsensusSettings: 41

[code]

So basically checkpoints are always disabled no matter what.

ps
I also suggest adding test for the use-checkpoints switch after the issue is f

[2018-04-22 19:38] noescape00 commented on #1315
@dangershony

[2018-04-22 19:54] noescape00 commented on #1284
Is it an issue?
I guess it's good that staking supports all accounts- at least we won't need to change that in the future when other components will get support for different accounts.

[2018-04-22 23:49] dlandi opened #1316 "API Versioning?"
Hi.

While the FullNode is in beta, this might be a good time to bring up the issue of versioning.  Have you considered how to introduce new versions of existing features?  It may well be that legacy versions will need to run alongside newer versions.  The MVC Core 2 framework provides a versioning interface. There is more than one way to do this. But first you need to install the Versioning nuget

[2018-04-23 07:11] Aprogiena commented on #1315
How is that possible? It worked before well, have we changed something?

[2018-04-23 10:32] bokobza commented on #1291
Fixed in https://github.com/stratisproject/StratisBitcoinFullNode/pull/1303

[2018-04-23 10:32] #1291 closed

[2018-04-23 13:03] majikandy commented on #1299
File system stuff is OK for integration tests, and the TestBase is used by that too, probably that should have its own IntegrationTestBase

[2018-04-23 14:23] dangershony opened #1319 "[RF] Rename chained block to chained header"

[2018-04-23 14:27] dangershony opened #1320 "[RF] Extend chained header"
Extend chained header with pointer to the block data and information about block state.

[2018-04-23 14:29] dangershony opened #1321 "[RF] Create chained header tree component"
Create chained header tree component and define Max interest gap.
Create basic methods of this component and at unit tests.
- Chained header tree is a tree of all chains that we can see.
- Consider resolving issue 1156 during the design.

[2018-04-23 14:32] dangershony opened #1322 "[RF] Create consensus manager component"
Create block manager component that will use chained header tree component. + Tests.
- Purpose of the BlockManager is to manage the header tree and validate new headers
- Logic should also implement the finality notion.
- Finality is checked when a new header is accepted (if violates max reorg- ban) and when we advance our consensus (if violates - disconnect and discard the branch).

I still didn'

[2018-04-23 15:56] noescape00 opened #1323 "Block store loop race condtion"
Block store loop tries to download a block that node reorged away from.
That leads to block store stopping advancement until the restart.

[code]

[2018-04-23 16:14] dangershony commented on #1315
@Neurosploit all yours

[2018-04-23 16:15] dangershony commented on #1323
That's odd, block store should have a mechanism of resting itself to the first step if no block was returned after a timeout.

[2018-04-23 16:44] Neurosploit commented on #1299
@majikandy The logging used to be a static logger without any interface to mock. Since then we've gotten an interface and we can remove the logfactory and replace it with a mock.

With regards to the filesystem we need an abstraction layer for this so we can mock away the filesystem persistence.

[2018-04-24 11:31] noescape00 commented on #1227
This issue should be tested (a new integration test should be created):

![issue1227](https://user-images.githubusercontent.com/10259355/39184457-1872624c-47cc-11e8-9631-f8434cffdf8d.jpg)

[2018-04-24 11:51] noescape00 commented on #1181
This issue should be resolved in 2 steps:

1) Introduce finalized chain header + add tests:

FinalizedHeaderHash is a hash of a block that is updated every time Consensus Tip is _moving forward_.
FinalizedHeaderHash  = ConsensusTip - MaxReorg

This only applies for Stratis networks.
This hash should be persisted to the hard drive (maybe make it as a part of the ChainRepository)

Testing:
1. Mine m

[2018-04-24 12:06] dangershony commented on #1323
We should write an Integration test to reproduce this then fix it.

[2018-04-24 12:10] dangershony commented on #1316
Great idea, its more about versioning the feature endpoints and not the features themselves.
Features already have versioning built in as part of nuget but we don't enforce feature version dependency

[2018-04-24 12:25] dangershony commented on #1307
I would very much like that the NLog.config will be picked from datafolder can we make this happen?

[2018-04-24 12:26] noescape00 commented on #1320
There will be 2 new properties that will be contained in the ChainedHeader. They are only in-memory and are not persisted to the hard drive:

1. Pointer to the Block instance that this header is representing. Can be Null in case we don't have a block data downloaded.
2. BlockState (a new enum should be introduced).

BlockState enum:

- HeaderOnly - we only have a header of the block and the header

[2018-04-24 12:29] dangershony commented on #1298
Why would you do that?
Features are isolated entities each feature should have its own tests project.
What we can do is move some features out of VS or create different solutions

For example WatchOnly feature can love in another repo.

[2018-04-24 12:37] dangershony commented on #1294
I dont see how we can return valid arguments for weight and time when no outputs are available.
We could definitely return valid argument for netweight and difficulty when staking=false

[2018-04-24 12:38] majikandy commented on #1298
If they truly can be composed into other solutions and actually will be then yes, separate is fine.

If it is just for logical separation, folders is easier because VS performs better with less projects

[2018-04-24 12:45] bokobza commented on #1299
This issue has been fixed in this PR: https://github.com/stratisproject/StratisBitcoinFullNode/pull/1330

[2018-04-24 12:48] dangershony commented on #1284
Account is not equivalent to wallet (a wallet has many accounts) so this is correct and by design.
You stake on the whole HD seed.

[2018-04-24 12:48] #1284 closed

[2018-04-24 12:51] bokobza commented on #1265
This has been done by @MSinteur317 in this PR: https://github.com/stratisproject/StratisBitcoinFullNode/pull/1313

[2018-04-24 12:51] #1265 closed

[2018-04-24 12:52] dangershony commented on #1283
For now the default is fine for stratis (I don't think we need to check for full blocks) this is lower priority.
However the end goal is to port over the new fee estimator from bitcoin core (I ported over the old one and its not complete, that's why its commented out).

[2018-04-24 12:52] bokobza commented on #637
@ferdeen can you comment on this?

[2018-04-24 12:55] bokobza commented on #1262
@Aprogiena can we close this or not yet? Or is there any other issue we should link this to?

[2018-04-24 12:56] dangershony commented on #1278
What?

[2018-04-24 12:59] Aprogiena commented on #1307
@dangershony This does not seem to be relevant to the issue. But anyway, what you say is possible, but prevents logging during early initialisation of the node. This is why we decided initially not to put it into the data folder. It would only make sense to do that if we separated loading of configuration file, such that it happens is the 1st thing in the node, before all other initialisation star

[2018-04-24 13:01] dangershony commented on #1254
This task to me is about fixing how we broadcast transactions, three are some issues.

We should move all broadcasting code to the wallet and remove the states (or move them to the light wallet)
The main wallet should relay on memepool
Light wallet can try to rely on ping backs from peers

The implemented of this please make sure to discuss with me and @bokobza

[2018-04-24 13:02] bokobza commented on #337
@Aprogiena @dangershony found the thread discussing the chain redesign!

[2018-04-24 13:03] Aprogiena commented on #1294
When you are mining, those values are filled. When you then stop mining, those values are not reset. The question is whether they should be reset are not, because even their default values, zeros, will be as invalid as any other values. Simply because when you are not staking, those values have no meaning. So having 3000 is as meaningful as having 0 there. But optically, it looks better if you hav

[2018-04-24 13:08] dangershony commented on #1250
This issue is going to be used for rarefaction mempool behaviour as per comments above.

[2018-04-24 13:15] bokobza commented on #124
CLosing this as the development work is already well on its way.

[2018-04-24 13:18] bokobza commented on #273
Is this still relevant? @dangershony

[2018-04-24 13:18] dangershony commented on #1233
The `LoggingActionFilter` creates a new logger on every request.
This can be improved I believe.

[2018-04-24 13:25] noescape00 commented on #1278
Also there is one more issue with mutated blocks that was discovered just today: if the block is below the last checkpoint we check the hash but don't check if it's mutated so we will download and save a mutated block.

I suggest we don't allow validation skip for the BlockMerkleRootRule.

[2018-04-24 13:28] bokobza commented on #461
@Aprogiena Can we close this you think?
We also have the `IsSystemTimeOutOfSync` property that we use to not stake in case the system is out of sync.

[2018-04-24 13:28] dangershony commented on #1228
I think this is not an issue anymore.

[2018-04-24 13:28] #1228 closed

[2018-04-24 13:30] dangershony commented on #1103
Implementer please talk to me @bokobza and @noescape00

[2018-04-24 13:30] bokobza commented on #888
I'll close this as it's part of another issue.

[2018-04-24 13:30] #888 closed

[2018-04-24 13:35] Aprogiena commented on #1262
not yet, we have it on the list

[2018-04-24 13:36] dangershony commented on #1214
This issue can have two tasks
- Storing the seeds in memory is a good start (easy)
- Reworking on the chain selection (@mikedennis already has a PR porting code form NBitcoin)

[2018-04-24 13:36] Aprogiena commented on #337
i know about this one, it is on our list

[2018-04-24 13:38] Aprogiena commented on #461
it is a low priority improvement, if we don't have interested to do it, it can be closed, no harm

[2018-04-24 13:38] dangershony commented on #1160
Implementer to discuss with me @noescape00 and @fassadlr

[2018-04-24 14:28] bokobza commented on #1231
@maciejzaleski Did this happen when you were using the UI?

How did the full node stop?

[2018-04-24 14:43] bokobza commented on #1254
This will require integration tests as well.
Ideally we'd have a failing integration test reproducing this scenario first, then work on fixing it.

[2018-04-24 14:58] bokobza commented on #1052
@quantumagi I think this is done?

[2018-04-25 09:01] noescape00 commented on #1298
The issue was raised after a PR was created by @majikandy where some of the utils from the tests projects were copy pasted in order to remove dependencies between different test projects.

I suggested that if we really dont want test projects to depend on each other we can move shared code to a Test.Utils project or move all tests to a single project- any of those 2 solutions would be better compa

[2018-04-25 09:13] majikandy commented on #1298
The dependencies between the test projects are sort of ok but they were causing (for @fassadlr ) tests to be run multiple times - especially on the build server where the dlls get copied to the output directory and then.

But then if you are gonna have dependencies between the projects, this rules out composing other solutions with only some of the projects, as you now have to have the other proje

[2018-04-25 09:31] majikandy commented on #1298
The copy paste was a subset of the 500 line "helper" class shared. Just 1-3 methods used by the other few projects... having their own copy of those methods is not automatically a bad solution just because it is a copy paste. If something changes with the behaviour of that, you have to update in a few places, but this is test code, so the tests would highlight that, and at that point if it became

[2018-04-25 09:43] majikandy commented on #1299
@Neurosploit Yep - and then we can split the TestBase and not use the same one for unit and integration tests as they have different concerns.

[2018-04-25 10:10] dangershony commented on #1307
Yeah I am aware but as a side note I think putting log configuration in data folder is very useful I think we should try to make it happen

[2018-04-25 10:30] dangershony commented on #1307
It is from a user experience most users know where the data folder is and its easy to just drop a file there (our other config files are there already) ok I will create an issue.

[2018-04-25 10:30] dangershony opened #1336 "NLog file to be picked from datafolder"
More info here
https://github.com/stratisproject/StratisBitcoinFullNode/issues/1307

[2018-04-25 10:55] Aprogiena commented on #1336
Yes, but this is exactly what we don't need because logs configuration is not use a feature, it is for developers only

[2018-04-25 10:56] Aprogiena commented on #1336
But okay if we want to do that regardless of motivation, we need to make sure that we loaded is the 1st thing in the node, so that the whole initialisation of the node can be logged

[2018-04-25 12:59] bokobza commented on #1307
@sondreb

where do you see that the logs folder is written relative to the dlls? I can't see it 🧐

[2018-04-25 13:14] bokobza commented on #1298
At the moment we have a project common to all tests and a projects common to all the tests for wallet-related projects. I think it's ok like that for now 👍
If everyone is happy, @majikandy feel free to close this issue.

[2018-04-25 14:33] dangershony commented on #1315
This was fixed closing

[2018-04-25 14:33] #1315 closed

[2018-04-25 14:35] dangershony opened #1338 "Stop staking bug"
Got this bug when calling the api method `StopStaking`
![image](https://user-images.githubusercontent.com/7487930/39252689-1cbbf6d8-489e-11e8-8eb2-5b7a06040b7a.png)

I wonder if its related to a double stake output
![image](https://user-images.githubusercontent.com/7487930/39252733-3642d0d6-489e-11e8-9d34-f99cb6232949.png)

[2018-04-25 14:36] dangershony commented on #1336
Ok I guess its not high priority but the settings are anyway loaded before any DI is injected (in the settings Load method).

[2018-04-25 17:17] Neurosploit opened #1341 "[RF] Move checkpoints to network"
Move the network specific checkpoints to Network and add them to the network builder so they are more closely to where they are supposed to be. This also makes the checkpoints class really tidy.

As mentioned in #1329.

[2018-04-26 08:39] noescape00 opened #1344 "ChainHeaderBehavior doesn't check if headers are consecutive"
Bitcoin core checks if all headers in the `header` message are consecutive

[code]

We allow headers to be non-consecutive  and we allow gaps in case those gaps can be filled with headers from our own chain.

This leads to several problems:

1) Peer can present headers message:  1,2,3,4,5,6,1 and we will set our view of it's tip to 1 (when it should be 6)
2) Peer can send same headers over and ove

[2018-04-26 16:37] noescape00 commented on #1321
ChainedHeaderTree design:

## Private data structures:
- PeerTipsByHash: dictionary[hash - List of peer ids]
- ChainHeadersByHash: dictionary[hash - chainedBlock]

## Methods:

### CT changes (advances or reorgs):
Check every peer.tip against max reorg (using PeerTipsByHash and finding forkpoint(CT, tip)). If violated - discard tip, do CHB.PendingTip=null & CHB.TrySync, but dont disconnect or ban

[2018-04-27 13:06] ferdeen commented on #1254
After creating the integration test (not committed yet), when trying to spend CoinStake before maturity the exception is throw here in PosConsensusValidator.CheckMaturity().  This doesn't get caught by the WalletController and is why the UI doesn't report the failure.

![image](https://user-images.githubusercontent.com/16000683/39363839-9f15b034-4a23-11e8-97c6-1fecd27e07d3.png)

As Dan mentioned a

[2018-04-27 14:27] dlandi commented on #1316
A good article on API Versioning:
https://neelbhatt.com/2018/04/21/api-versioning-in-net-core/

[2018-04-29 16:26] mikedennis opened #1355 "Stratis.StratisD initializes wrong network from .conf file"
If you specify the network in the conf file instead of with command line it will always initialize with Stratis mainnet. Also we should support stratis regtest network as well.

This is an issue with integrating with NBitcoin AltCoin test framework.

[2018-04-29 16:34] mikedennis opened #1356 "Missing Stratis RPC methods for integrating with NBitcoin AltCoin test framework"
The NBitcoin AltCoin test framework uses RPC on a regtest daemon. The following RPC functions are used:

- GetBlock
- Generate
- GetBestBlockHash
- getnewaddress
- validateaddress (DONE)
- sendtoaddress (DONE)
- getrawtransaction (DONE)
- sendrawtransaction

[2018-04-30 07:53] Aprogiena opened #1357 "[POS Mining] incorrect logic due to missing return"
there should be return after this line https://github.com/stratisproject/StratisBitcoinFullNode/blob/master/src/Stratis.Bitcoin.Features.Miner/PosMinting.cs#L383

[2018-04-30 13:44] dangershony commented on #1357
OMG how did I miss this that fixes the other bug I raised, good spot.

[2018-04-30 13:45] dangershony commented on #1357
This bug is related
https://github.com/stratisproject/StratisBitcoinFullNode/issues/1338

[2018-04-30 15:12] dangershony commented on #1355
Support regtest from console or config? yeah why not.

I guess the problem is we look at args in stead of ConfigReader

[2018-04-30 15:14] dangershony commented on #1294
Ah yeah ok lets reset them optics is important when user input is involved.

[2018-04-30 17:25] Aprogiena commented on #1357
Actually I believe that one is not related. 1338 is kind of trivial because we are not waiting for the end of the loop which is using something that we set to null. Just check the cancellation token there, stop staking its setting it to null.

[2018-05-01 04:13] mikedennis commented on #1355
Yes might be a bit tricky. NodeSettings would need to know which daemon it's running under to select the right network. Could we use ProtocolVersion == ProtocolVersion.ALT_PROTOCOL_VERSION to determine if should look at Stratis networks instead of Bitcoin ones?

[2018-05-01 08:52] bokobza opened #1362 "Advantages of the NetworkBuilder?"
I'm trying to understand why we have a NetworkBuilder for creating a Network object, rather than use vanilla property assignment.

I find it easier to understand
1.
[code]
than
2.
[code]

When you want to add an extra property in 1., all the user has to do is
1. add a property to Network
2. assign it when we create a Network

When you want to add a property in 2., the user needs to:
1. add a prope

[2018-05-01 09:12] monsieurleberre commented on #1362
I agree that if the flow methods are only setting a field value (like it often seems to be the case here) that seems like an overkill. If each method sets a complex object, and that those different objects can be composed independently (like for building and attaching features to the node), then I think it is a very clean syntax. Here, I agree that I am not sure where this adds value.

[2018-05-01 09:31] rowandh commented on #1362
The Network object itself is immutable, which is a good thing. Using the builder pattern here enables immutability.

Though we are not yet using it like this, one other advantage of using a builder would be to prevent a Network object ever being created in an invalid state. Eg. if a Network object always needs a Genesis, or a Port, the builder can enforce this.

If we treat Network as a property b

[2018-05-01 09:53] Neurosploit commented on #1362
I agree with rowan here. I find the immutability of the network class important enough to require the need for a builder. I would rather move away from the direct property assignment that we still have in the networks class in favor of the builder.

[2018-05-01 10:25] rowandh opened #1363 "WalletTransactionHandler TransactionBuilder does not use network MinRelayTxFee"
StandardTransactionPolicy has a hardcoded MinRelayTxFee of 5000 Satoshis. Mainnet has a MinRelayTxFee of 1000 Satoshis.

This affects these usages:
* TransactionBuilder.Verify (uses StandardTransactionPolicy.Check)
* TransactionBuilder.GetDust
* TransactionBuilder.Send (uses TransactionBuilder.GetDust)
* WalletTransactionHandler (uses TransactionBuilder.Verify and TransactionBuilder.Send)

Result:

[2018-05-01 10:36] noescape00 commented on #1363
Default min fee is 10k sat/kb so it's not possible that a tx will be created that won't pass StandardTransactionPolicy or MinRelayTxFee threshold.
Well, unless you are manually creating it- but in that case you should be aware of this limitations.

The reason why StandardTransactionPolicy fee is greater than MinRelayTxFee is that we want to relay Non-Standard txes just in case there is a miner tha

[2018-05-01 10:44] bokobza commented on #1362
Presently, whether we construct the Network with a builder or by using properties, it all comes down to the Network object, modifiable exactly in the same way.
The Network properties are all privately settable so I think the "inadvertently messing the Network object" argument doesn't hold.

[2018-05-01 10:51] noescape00 commented on #1363
@bokobza can you please take a look at this one since you are quite familiar with wallet/fees stuff?

[2018-05-01 11:33] rowandh commented on #1362
Ah ok, I thought you were proposing to make the setters public. Keeping them private means new Networks have to be defined inside of `Network`, as they currently appear to be. This might be fine for a single network + testnet, but with the addition of eg. a SmartContract network + testnet, it begins to feel like we're abusing partial classes.

[2018-05-01 11:44] #1230 closed

[2018-05-01 11:44] bokobza commented on #1230
Fixed in #1351 .

[2018-05-01 11:49] bokobza commented on #1231
Haven't been able to reproduce this.
However, the separation of writing (to a temp file) and reading of a file in #1351 should help with the error described above.
@maciejzaleski feel free to have a lok, test and close if you're happy.

[2018-05-01 12:51] bokobza commented on #1362
Yeah at the moment we have 6 networks, and the Network class is split between Networks.cs and Network.cs.
One of my next tasks will be to unify these and make it easy for anyone to create a Network.

[2018-05-01 13:09] noescape00 commented on #1322
Blockmanager is referred as ConsensusManager (CM) below. This name may change.

Raw design:

[code]

Created and discussed with @Aprogiena

[2018-05-01 14:50] #1341 closed

[2018-05-02 10:12] quantumagi commented on #1052
This issue is no longer occurring.

[2018-05-02 10:12] #1052 closed

[2018-05-02 16:50] maciejzaleski commented on #1231
This problem has now been resolved.

[2018-05-02 16:50] #1231 closed

[2018-05-02 21:37] mikedennis commented on #1250
@dangershony @noescape00 Just to confirm what's involved here:

In mempool behaviour replace locking done with ```this.manager.MempoolLock.WriteAsync(()```

With individuals locks around access to:
[code]
Question: Are there any existing tests that will test this?

[2018-05-02 22:05] noescape00 commented on #1250
Yes. But also this issue suggests fixing general design problems:

1) We have 2 different delays- one in async loop and one in CanSend
2) CanSend getter actually changes the value which is not an expected behavior
3) Potentially the same logic can be used for tx relaying and tx propagation (but that might be a separated task since it's a big one)

[2018-05-02 22:27] mikedennis opened #1375 "Mempool behaviour SendMempoolPayloadAsync doesn't send anything"
Please correct me if I'm wrong but to me it looks like this code doesn't work:

https://github.com/stratisproject/StratisBitcoinFullNode/blob/master/src/Stratis.Bitcoin.Features.MemoryPool/MempoolBehavior.cs#L301-L314

[code]

To me it seems like it's missing a step of adding it to sends after it removes it from ```this.inventoryTxToSend```

Unless I'm misunderstanding how this is suppose to work?

[2018-05-03 09:33] rowandh commented on #1363
Nice find of the NBitcoin mistake, seems like we need to fix the default value.

There is still a scenario where our code is used by a third party who wanted set a different/no MinRelayTxFee in their Network configuration. Their code might behave unexpectedly if they are unaware of the default value in the StandardTransactionPolicy.

[2018-05-03 13:14] noescape00 opened #1379 "Refactor Peer Behaviors"
Reference implementation:

[2018-05-04 07:39] quantumagi commented on #1355
The problem is that we are passing the network to the NodeSettings constructor. Once a network is passed in this way it takes precedence over the command line and configuration file.

Simply not passing the network to the constructor should leave us with the desired outcome.

[2018-05-04 09:56] dangershony opened #1385 "Block version calculation not correct"
We are not calculating the block version correctly between networks.

- This issue has two parts, identify what is the current version on Bitcoin and Stratis
- Write the code in a way where version is injected dependant on network, this will also have to be coordinated with the Rule @majikandy is working on.

[2018-05-04 14:28] mikedennis commented on #1355
Yes that works for me thanks!

[2018-05-04 14:28] #1355 closed

[2018-05-06 13:47] noescape00 opened #1391 "Don't allow block signature validation rule skip"
Block signature rule shouldn't be skippable (because a bogus signature might be supplied and then when some peer asks us for this block we will provide a block with a wrong signature and we will be banned by such a peer).

Created by @Aprogiena

[2018-05-07 13:54] quantumagi commented on #1356
- getblock
- generate (MiningRPCController)
- getbestblockhash (ConsensusController)
- getnewaddress
- validateaddress (DONE) (FullNodeController)
- sendtoaddress (DONE) (WalletRPCController)
- getrawtransaction (DONE) (FullNodeController)
- sendrawtransaction

[2018-05-08 14:29] #1319 closed

[2018-05-08 14:30] #676 closed

[2018-05-08 14:30] #1254 closed

[2018-05-08 15:12] #1278 closed

[2018-05-08 15:24] bokobza opened #1395 "Create additional Integration Tests"
4 tests here:
* User tries to double-send and fails
* Create 2 tests that tests a transaction size limit:
  -  a test that has a big transaction but valid
  -  a test that has a big transaction but invalid (small size increment from the previous test)
* Create a transaction that uses sequence locks

[2018-05-08 15:33] bokobza opened #1396 "Stabilize Integration Tests"

[2018-05-08 17:02] noescape00 opened #1397 "PoSMinting race condition"
There is a race condition in case you call `StopStake` and `Stake` at the same time:

First Stake will create a new `stakeCancellationTokenSource ` and StopStake will dispose it so by the end of the Stake call staking won't start. Also this race condition covers the whole staking loop itself.

[2018-05-08 18:58] dangershony commented on #1391
Ah yeah thats because the block signature is not part of the header hash we have to check it every time.

[2018-05-09 10:10] dangershony commented on #1375
Yes this code is incomplete, so it needs to be done and also we need to compare with StratisX and bitcoin core behaviour for vulnerabilities.

[2018-05-09 10:10] majikandy opened #1399 "Coding Style: use of var"
Rule 10 of the coding style states:-

Whilst a reasonable idea to say we only use it when it is obvious, continuously on code reviews, almost all reasonable uses of var are picked up with the request of the review to "unvar this".

This is not a good idea to wipe out a very elegant feature of the C# language.

There are definitely cases where specifying the type explicitly can make the code more r

[2018-05-09 10:14] dangershony commented on #1363
New StandardTransactionPolicy has the Network class passed in the constructor so what we should do is use the values from Network and change them there if they are wrong.

So this is a task we need to push in to the sprint, unless SC team wants to take it
@fassadlr can you check with @bokobza?

[2018-05-09 10:46] #1298 closed

[2018-05-09 10:47] dangershony commented on #1396
This will also include find what tests can move out from the Integration tests talk to @majikandy @bokobza  or myself to discuss more.

[2018-05-09 10:56] majikandy opened #1400 "Code commenting"
There is a very strict policy on code comments on this project.

However, a lot of the motivation for this, whilst good, is quite outdated in its ideas.

In the policy :-
https://github.com/stratisproject/StratisBitcoinFullNode/blob/master/Documentation/commenting-policy.md

The above is something I think we can all agree on.

However, the motivation section mentions many things as facts, which ar

[2018-05-09 11:28] noescape00 commented on #1399
It's not being wiped out, just restricted.
Every feature has it's own field of use, no need to use it everywhere possible just because we can.

I think it makes it more readable in most of the cases.

Here is a random example from google:

[code]

I afraid I will be able to find many similar cases to the last case in the example above in our codebase if we replace explicit type with var.

The code

[2018-05-09 11:32] noescape00 commented on #1400
I think this rule indeed needs to be lose for some particular case:

When we have a class A and it has a summary comment we do not need to comment every instance of that class (unless dev want to for some reason). Currently we do so and it just leads to copying the summary comment over and over.

[2018-05-09 11:53] ferdeen commented on #1399
From [Microsoft C# coding conventions](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/inside-a-program/coding-conventions)

[code]

This SO discussion - Why [Resharper uses var for everything](https://stackoverflow.com/questions/1873873/why-does-resharper-want-to-use-var-for-everything?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa) - goes over the same

[2018-05-09 14:07] noescape00 commented on #1399
I think they make it easier to read the code in >=51% of cases.

[2018-05-09 14:08] quantumagi commented on #1356
The current approach allows new features to be added together with any RPC methods that they contribute - i.e. it does not require updating any code that is shared between features.

[2018-05-09 14:17] mikedennis commented on #1399
I have worked on other projects that have the same rule around var that we do. It was always an area of debate. I personally prefer explicit types and think it improves readability as long as you can use var for linq queries etc where the types can be kind of gross. I think it's just a right click to change it to the type from var so if one prefers to use var as they are coding it's easy to switch

[2018-05-09 14:19] mikedennis commented on #1375
Ok I will look at this as part of the work I'm doing on mempool behaviour as it is some of the code I will be touching anyways.  Thanks!

[2018-05-09 16:07] Aprogiena commented on #1400
I'm happy to relax the requirement for fields that are used in other components commonly for the same thing and are injected in constructor via DI. Otherwise I believe we need comments everywhere (XMLDOC, not inline). Inline comments should be written if the code itself is not clear, I agree with that, no need to write inline comments if the code is clear.

XMLDOC - i.e. comments of properties, me

[2018-05-09 17:28] Aprogiena commented on #1400
So that is the 1st part of the argument, the 2nd one is about providing information to developers that directly uses the code. I will add this later.

[2018-05-09 18:30] dangershony commented on #1400
I would like to remove the need to comment constructors and properties, properties are often just repeating comments, there is mostly not befit there and if a user needs documentation navigating to the property's class for it's comments is a click away.

I would also like to remove the need to comment on method parameters same argument applies to properties.

I find myself writing many times the c

[2018-05-09 18:31] dangershony commented on #1375
yes please.

[2018-05-09 18:34] dangershony commented on #1356
Yes agreed, though we have the api feature for that.
RPC I would hope will slowly become less used and we only support it for legacy reasons.

[2018-05-09 19:54] Aprogiena commented on #1400
I would be okay with relaxing the parameter's comments for such parameters that are used in many components in a same way.

[2018-05-09 20:03] Aprogiena commented on #1400
So as for the providing information to developers. It is very handy and sometimes crucial to provide information to a fellow developer who is using the code either from external component or from within the component we are writing.

As we write the code now, the comments are the best place to put this information to. Should we ever start using whatever tools for formal validation or static analys

[2018-05-09 20:15] Aprogiena commented on #1399
The problem is that the policy uses the word obvious instead of precisely defining when it can be used. Since obviousness is subjective, such a policy rule will always lead to disagreements.

Therefore I would suggest to modify the rule in a way that it is only allowed to be used if the right side contains the type of the result is the type – i.e. calling a constructor or cast or similar.

If we c

[2018-05-09 21:44] dangershony commented on #1400
I am a believer of writing code that is so readable that comments are not needed, however I am also a bit skeptic if the ability to achieve that.

I would love to see examples of code that is so readable that comments are not needed.
Will this be a different way of writing code? or just more focus on type/method names.
We see the new test specification code where method high level expresses a lot

[2018-05-09 22:07] dangershony commented on #1399
I think this is getting out of hand both cases have arguments that are valid, initially I agreed to restrict var in some cases but leave room for flexibility for the developer to decide.
It ended up that every mention of var is being commented (and not allowed) in the code reviews.

If the presence of var is not clear for the code reviewer then they can debate it with the developer, some devs pref

[2018-05-10 06:49] Aprogiena commented on #1399
how so? this issue should be about discussion about opinions on the topic, and i don't see anything else, so everything seems like a good fit here. how is this getting out of hand?

[2018-05-10 06:51] Aprogiena commented on #1399
[code]

here i don't know what type is `blocksByHeight`, so then i can not know what `header` is. it should be `ChainedHeader` or `Header` from its name, but no, it is `KeyValuePair`, so actually i think this is perfect example on where NOT to use `var`

[2018-05-10 09:32] majikandy commented on #1399
I would like to suggest that perhaps there is an obsession on knowing the types - when you don't *always* actually need to know the type so explicitly as a reader of the code.

And as we know and all agree on, code gets read many many more times that it is written, so one less thing to think about when reading it, is a good thing.

Trust the compiler knows the type and as long as the code below wh

[2018-05-11 09:40] majikandy commented on #1399
If there isn’t a test that covers this magic magic then needless to say this magic magic should not be there.

Since our codebase has lots of areas where the explicit type shows a surprising type versus the method called. I would not suggest that we swap those to var, but we choose names for those methods that make it redundant.

It is completely possible that accepting that we write the explicit

[2018-05-11 11:13] Aprogiena commented on #1399
Could you please summarise the list of benefits that this proposal should have? What are your selling points?

[2018-05-11 11:49] dangershony opened #1403 "DB got corrupted"
I got this bug after my pc restarted unexpectedly.
Details are here to be able to investigate.
[code]

[2018-05-11 11:56] noescape00 commented on #1403
I think it will be a good idea to add integration tests that would kill the node process at random times and then verify that node can recover on startup.

As of the logs: do you have logs at the moment of the PC restart?
This is an odd bug- dbreeze should be able to handle interrupted save operations pretty well.

[2018-05-11 12:14] dangershony commented on #1403
I have logs yes but they are bug so please ask them form me and I will send directly.

[2018-05-11 12:47] majikandy commented on #1400
Tests are a far better solution to this problem. Tests are the live documentation for the system that express how the system works. If there is no test, how did the code get written in the first place and accepted? putting that aside....  if you are changing a piece of code, it is your duty to write tests that prove it works. Ideally TDD, but let's save that one for another day.

So you say code a

[2018-05-11 13:08] dangershony commented on #1399
In case of kvp, which I find annoying to read every time I would suggest the word Item.

[code]
vs
[code]
The top one is way more readable (IMO) and its clear when you read down the code what `item` is. (I am also happy to go with kvp)

But in any case a user has to read the start of the loop where the dictionary iteration is present so specifying  `KeyValuePair` is not needed.

This is one case,

[2018-05-11 13:14] Aprogiena commented on #1400
Non-argument - I can say the same - `comments are better solution to this problem, they are live documentation ... if you are changing code it is your duty ...` - see ? it works as well

[2018-05-11 13:15] Aprogiena commented on #1400
you are mixing inline comments and XMLDOC

[2018-05-11 13:16] Aprogiena commented on #1400
Do you trust the test or the code? Again, the whole argumentation works for comments as well.

[2018-05-11 13:18] Aprogiena commented on #1400
No, this is not about abusing types. There are often restrictions - e.g. something CAN be null, or something CANT be null, or something CAN be null ONLY if something else is TRUE, etc.

[2018-05-11 13:40] dangershony commented on #1400
Ah very good two points from the article you provided.

- You should always write your code as if comments didn't exist
- To write good comments you have to be a good writer

I agree on both accounts.

[2018-05-11 13:56] majikandy commented on #1400
@Aprogiena fair enough you can use the same argument for comments instead of tests, but why bother. Tests are runnable, comments aren't.

It almost works. Except a comment isn't live, it is free to slip away into being out of date and they 100% do slip and take a great deal of code review diligence to keep in sync

I can't believe I have to make these points, but by the same argument I guess neith

[2018-05-11 13:58] majikandy commented on #1400
I am, why aren't you?  Why is an XMLDOC comment allowed to be redundant?

[2018-05-11 14:16] bokobza commented on #1400
I'm not going to comment on this, but as far as I'm concerned, this is a time suck and it's unacceptable.
We decided on these rules months ago after many many discussions.
What happened with not fixing something that is not broken?
Clearly we all have different views on the matter. Some like comments, some don't.

We need to concentrate on writing code and delivering rather than talking about writ

[2018-05-11 15:26] Aprogiena commented on #1400
I am afraid you are right. I would still very much like anyone to question anything or propose anything, however, as you say, we must not waste our time. Therefore, assuming as it is obvious that certain proposal does not have an over helming majority of support, we should avoid spending more time on it.

Therefore not at any more comments here.

@majikandy I am still happy to have a Skype call an

[2018-05-11 16:58] Aprogiena commented on #1399
Same as here https://github.com/stratisproject/StratisBitcoinFullNode/issues/1400#issuecomment-388397660, It does not seem the dispute also have overwhelming majority, so we are probably unable to reach a consensus on a change, therefore we should not continue in the discussion during work hours.

[2018-05-13 00:34] dangershony commented on #1397
Is that an issue? Staking can then just be called again and will work properly.
Is stop staking was called it was intentional

[2018-05-13 00:38] noescape00 commented on #1397
I guess it is an issue in case in UI we will have a button Start staking/Stop staking. Calling stop and after that start might produce such a race condition so node stats will say that staking is on when it's off.

[2018-05-13 01:15] dangershony commented on #1400
When we decided on the commenting policies there where only 3 of us, and I was happy to give it a try.
I am re-questioning that decision now, there are some very solid arguments that are made about not using a strict approach to writing comments and I would like to explore that.

I also think that blindly deciding that we should always put comments is not right, there are places and times where co

[2018-05-13 19:51] dangershony commented on #1397
I am not sure you are right, the cancellation will be cancelled the loop will stop, and this code will still be called `this.rpcGetStakingInfoModel.Enabled = false;`
So the UI will see staking is not on and user will try again.

Yeah it might crash the node if the cancellation is not initialized already.

But I agree we should put a regular lock around the code in the methods just to be safe.

[2018-05-13 19:53] dangershony commented on #1119
@bokobza I think this can be closed @ferdeen worked on this.

[2018-05-13 21:19] dangershony commented on #1400
I am going to propose this changes to the policy.

1 - Private properties don't require comments if name is descriptive enough or its clear form the type.
1.1 - Or we can use apros suggestion to put a special comment tag like //inheritdoc maybe //inheritparent (I did try to see if there is such an existing tag) that means look at the description of the type.
2 - Methods parameters don't require co

[2018-05-13 22:14] bokobza commented on #1400
First of all, a disclaimer: I'm happy for **anyone** to question **anything** at **anytime**.
I believe this is how we move forward, innovate and better ourselves and what we do.

Having said that, after months-long discussions we arrived at a set of rules that define how we write code here at Stratis. Referring to my previous point, I'm happy for this to be challenged within reason.

However, I t

[2018-05-14 07:00] Aprogiena commented on #1397
This is a race condition, I appeal to argument by authority and conclude that I am right. LOL

Anyway, seriously, it can crash the node, I can show you on Skype.

[2018-05-14 12:10] fenix2222 commented on #1400
My 5 satoshis here:
I like @dangershony suggestion for a policy change. I don't see a point of putting useless comments that increase code reading time and add 0 value, I would actually argue a lot of the times it is an unnecessary maintenance burden.

If we look at Microsoft code (we could consider it to be a benchmark) or code from other big enterprise companies, comments are important (ie class

[2018-05-14 13:02] dangershony commented on #1400
I want to stress again I am not about removing the rules just making then less strict, I am also in violation of some of the policies myself as a result.

For example @bokobza how strict our commenting rules are is this line in commit #1351
https://github.com/stratisproject/StratisBitcoinFullNode/pull/1351/files#diff-119e0a2d82ee52a5f2018a9b4655e222R61

It violates **ADD-VALUE** policy.

[2018-05-14 13:04] dangershony commented on #1397
Fair point a race condition as small as it is will bite back eventually I learned that the hard way.

[2018-05-14 20:32] dangershony commented on #1400
Violations also in this class which was reviewed by @Aprogiena

https://github.com/stratisproject/StratisBitcoinFullNode/blob/master/src/Stratis.Bitcoin/Base/BestChainSelector.cs#L73

[2018-05-15 12:54] noescape00 commented on #1321
Tests:

1) Supply headers where first header can't be connected- should throw
2) Supply headers that we already have, make sure no new ChainedHeaders were created
3) Supply some headers and after that supply some more headers and make sure that PeerTipsByHash is updated (at the total amount of items is the same)
4) Supply headers where half of them are new and half are old- make sure that ChainedH

[2018-05-16 02:45] mikedennis commented on #1338
PR 1392 does not fix this as I was unable to figure out how to reproduce this. In examining the code the dispose on the staking should have waited on the staking task to complete before setting the cancellation token to null so not sure how it got into the above state where it was executing a staking task with a null cancellation token.

[2018-05-16 10:01] #1357 closed

[2018-05-16 12:21] #1320 closed, assigned to nobody

[2018-05-16 13:36] slugmandrew opened #1413 "Deployment of smart contract without mandatory parameters should fail"
## Error Report

Using the `Auction.cs` template I ran the following command, which omitted the constructor arguments (`--params 10#20`) at the end:

[code]

This resulted in the following output:

[code]
However, the smart contract has clearly not been created, as `http://localhost:38220/api/SmartContracts/code?address=n3T9jT4mekdGamXqEDGKN7ps14qJ2ofE8H` reports there is no code at this address.

[2018-05-17 09:40] quantumagi commented on #1323
[code]

[2018-05-18 10:45] bokobza opened #1420 "Exception in Periodic peer flush"
While syncing bitcoin Mainnet IBD, I encountered this:

[code]

[2018-05-18 11:55] fassadlr commented on #1413
Thank you @slugmandrew! This issue is now resolved.

[2018-05-18 11:55] #1413 closed

[2018-05-18 13:30] maciejzaleski opened #1421 "Create PID file with the process Id when starting the full node"
The PID file should contain the FullNode Process ID.

**Normal PID file life-cycle**
- Start the FullNode - the PID file with the Process ID is created
- Stop the FullNode - the PID file is removed

**Starting the second FullNode instance using the same data directory**
- The FullNode should check if the PID file already exists
  - If the PID file exists the FullNode should check if the process wi

[2018-05-18 14:21] StratisIain opened #1423 "StratisDnsD Seeding Banned Peers"
Banned peers are written to the Masterfile.JSON resulting in banned peers continuing to be distributed to new nodes on the network.

[2018-05-18 22:09] mwherman2000 opened #1425 "README: `Stratis.StratisD\dotnet run` doesn't work"
This command in the Build section of the root README.md file is not correct.  Needs to be reworded.

[2018-05-20 00:20] mwherman2000 opened #1428 "Smart Contracts: TestSmartContractState.cs Storage Emulator Bugs"
There's a series of bugs in `TestSmartContractState.cs` that cause the objects that are being "persisted" to be passed around as Heap objects.

For example, `TestPersistentState.SetObject`, `TestMapping.Put`, and `TestList.SetValue` store *references* to Heap objects in their respective collection structures ...so after you have "persisted" an object and you change the values of one of the objects

[2018-05-20 00:31] mwherman2000 commented on #1428
A PR/fix for the `TestSmartContractState.cs` VSIX template can be found here:
<https://github.com/stratisproject/StratisBitcoinFullNode/pull/1427>

[2018-05-20 00:34] mwherman2000 commented on #1428
Please check/confirm if this is an issue with the on-chain Persistent Storage design/implementation.

[2018-05-20 17:16] mwherman2000 opened #1430 "v1.1.0-beta Release: critical error when I try to start staking on testnet"
Using release: https://github.com/stratisproject/StratisBitcoinFullNode/releases/tag/v1.1.0-beta

When I use `http://localhost:38221/swagger/#!/Miner/ApiMinerStartstakingPost` to stop and then start staking, I get the following error.  This full node has been running continuously for about one day.

[code]

[2018-05-20 17:33] Aprogiena commented on #1430
most likely just duplicate of already closed issue https://github.com/stratisproject/StratisBitcoinFullNode/issues/1338

[2018-05-20 17:36] mwherman2000 commented on #1338
Mine is also reproducible: https://github.com/stratisproject/StratisBitcoinFullNode/issues/1430

[2018-05-20 17:40] mwherman2000 commented on #1430
@Aprogiena It was closed as not reproducible.  Mine is reproducible ...staking cannot be restarted on this node.  CC: @dangershony

[2018-05-20 18:05] Aprogiena commented on #1430
It was also closed because there was pull request that fixed the probable cause. Issue should be reopened only if you can reproduce it on the latest master. So, can you reproduce it on the latest master?

[2018-05-20 19:10] mwherman2000 commented on #1430
@Aprogiena I can fork and clone the current master.  I don't know what the trigger is to cause the failure but I'm on a freshly built,clean Windows 10 Pro machine (not a VM) with only Stratis and dotnet core on it.

I ran the full node for about 24 hours and then it stopped staking and wasn't restartable.   I'll try to get this going today.

[2018-05-21 01:17] codingupastorm commented on #1428
Good find. On-chain implementation doesn't have this issue.

Means testing environment and live environment differ.

I think the only way to have contracts behave in exact same way as on-chain here is to use the exact same serializer.

Will check out your PR, thanks @mwherman2000

[2018-05-21 13:13] majikandy opened #1432 "Break down CoinViewRules into sub rules"
As part of PR 1414 we decided not to breakdown the coinview rule further, in the interest of making the code review easier to follow.

However, this is something that would help with making the components more individually testable and perhaps reusable.

@dangershony please label this as sp2 so we can consider it for next sprint

[2018-05-21 13:18] majikandy opened #1433 "Simplify the conditional statement in Pos/Pow CoinView Rules"
Currently the conditional is slightly confusing and has a todo over it

[code]

Also in the PosCoinViewRule  another different call is used for checking these things

`BlockStake.IsProofOfStake(block)`
`coins.IsCoinStake`

Perhaps these are correct, but some level of standardisation would be nice.

[2018-05-21 13:20] dangershony commented on #1321
https://github.com/stratisproject/StratisBitcoinFullNode/issues/1156

[2018-05-21 13:23] majikandy opened #1434 "Move verify scripts into its own rule"
Script verification should go in its own rule rather than within CoinViewRule as this was avoided at the time of coinview rule pull out as changing too much in one go in consensus would be confusing to review - especially as this is a slight change in behaviour.

Script verification could live in its own loop through transactions outside of the coinviewrule transaction loop.

@dangershony sp1 plea

[2018-05-21 13:28] majikandy opened #1435 "Test rules registration order for validation and execution rules"
The rules unit test is currently a bit weak as it only tests that the rule registration class returns a list in the correct order.

This will prevent an accidental mistake if it is changed however it doesn't really test the fundamentals of how these rules are called in the main code.

It could be better to test these rules are correctly wired up to the components in a more accurate scenario to the

[2018-05-21 13:31] dangershony opened #1436 "[RF] Remove old consensus manager"

[2018-05-21 13:33] majikandy opened #1438 "[RF] Move validate and execute from PosLoop to its own rule"
[code]

`await this.UTXOSet.SaveChangesAsync`  Either move to its own rule or at the end of CoinViewRule

[2018-05-21 13:35] dangershony commented on #1436
The current code will go in the consensus loop.

[2018-05-21 13:36] dangershony opened #1439 "[RF] Block store refactor"

[2018-05-21 13:47] dangershony commented on #363
Closing issue as its now moved to the SDF

[2018-05-21 13:47] #363 closed

[2018-05-21 13:48] #612 closed

[2018-05-21 13:50] dangershony commented on #631
@mikedennis whats the update on this?

[2018-05-21 13:53] #658 closed

[2018-05-21 14:01] dangershony commented on #665
This task still need to add prevention of connecting to `externalip`  this can be done by adding to `selfEndpointTracker`

[2018-05-21 14:02] #803 closed

[2018-05-21 14:03] dangershony commented on #863
@bokobza is this fixed?

[2018-05-21 14:05] #892 closed

[2018-05-21 14:06] dangershony commented on #894
[code]

[2018-05-21 14:12] majikandy commented on #1432
See this branch for an idea.....

https://github.com/majikandy/StratisBitcoinFullNode/tree/coin_validation_rule_broken_into_many_rules/src/Stratis.Bitcoin.Features.Consensus/Rules/TransactionRules

and

https://github.com/majikandy/StratisBitcoinFullNode/blob/coin_validation_rule_broken_into_many_rules/src/Stratis.Bitcoin.Features.Consensus/Rules/CommonRules/TransactionRulesRunner.cs

The Transact

[2018-05-21 14:18] #863 closed

[2018-05-21 14:20] dangershony commented on #997
Investigate how this is done in bitcoin core.

[2018-05-21 14:35] dangershony commented on #997
This will be fixed by the design of the refactor.

[2018-05-21 14:36] dangershony commented on #1008
@mikedennis lets open an issue every time we need to brings updates instead of keeping an open issue

[2018-05-21 14:36] #1008 closed

[2018-05-21 14:37] #1011 closed

[2018-05-21 14:38] dangershony commented on #1083
Check with @noescape00

[2018-05-21 14:38] #1086 closed

[2018-05-21 14:38] #1087 closed

[2018-05-21 14:40] dangershony commented on #1113
@zeptin @dev0tion any update on this?

[2018-05-21 14:41] #1119 closed

[2018-05-21 14:46] dangershony commented on #1123
The proposed solution is to prevent the puller to download blocks from peers that are inbounds during IBD

[2018-05-21 15:13] monsieurleberre commented on #1083
Let me know if you have a piece of code or anything ready made to reproduce this issue, otherwise, I ll do it from scratch :)

[2018-05-21 15:26] dangershony commented on #1194
We need to extend the time between failed handshake attempts

[2018-05-21 15:27] #1196 closed

[2018-05-21 15:30] #1213 closed

[2018-05-21 15:39] dangershony commented on #1219
Closing this as its not relevant to our current work.

[2018-05-21 15:39] #1219 closed

[2018-05-21 15:43] #1240 closed

[2018-05-21 18:37] Aprogiena commented on #1083
The only thing that is needed is to start node with 2 `-addnode` arguments pointed to real nodes. Then leave the node for a while and then check if the node is connected only to those 2 nodes or not.

[2018-05-21 21:52] mikedennis commented on #631
Haven't tried in a long time. Syncing testnet bitcoin right now - will take a look again once I'm synced.

[2018-05-22 09:05] quantumagi opened #1441 "TODO: Refactor to avoid duplication of this logic."
Looking at PowBlockAssembler.cs the following TODO appears:

[code]

However there are differences in the calculation between the two methods -
`CompareModifiedEntry` has `return f1 > f2 ? 1 : -1` while `CompareTxMemPoolEntryByAncestorFee` employs:
[code]

which raises questions about the implementation of the latter. Is it correct?

[2018-05-22 09:54] noescape00 opened #1442 "Remove BlockStoreManager"
https://github.com/stratisproject/StratisBitcoinFullNode/pull/1437#pullrequestreview-121963424

[2018-05-22 13:21] noescape00 opened #1443 "[RF] Refactor block puller"
Rewrite the block puller to support downloading from several chains, allow delivering blocks to different components, improve quality score

[2018-05-22 14:00] zeptin commented on #1113
It looks like the work necessary to resolve this has already been done in PR 1440. The primary issue was that only one of the block assemblers was getting injected at a time, so a Stratis-network node mining from genesis could only make malformed PoW blocks with empty coinbases.

[2018-05-23 03:03] rowandh commented on #1428
Hey @mwherman2000, thanks for the report! We don't support storage of arbitrary reference types yet, so hopefully nobody is writing tests that try to persist them. If they do then they will encounter your bug, which is definitely a problem.

Rather than fix the immediate issue, I think a better approach is to constrain the types that can be stored in PersistentState so that people don't encounter

[2018-05-23 03:30] mwherman2000 commented on #1428
Is this going to be the long-term solution? ... short-term? ...just for off-chain testing? ...or will this restriction also apply on-chain smart contract execution as well?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Rowan de Haas <notifications@github.com>
Sent: Tuesday, May 22, 2018 11:03:25 PM
To: stratisproject/StratisBitcoinFullNode
Cc: Michael Herm

[2018-05-23 10:49] bokobza commented on #1421
Thanks @maciejzaleski
Ref https://github.com/stratisproject/StratisBitcoinFullNode/pull/1410

[2018-05-23 13:27] majikandy opened #1446 "Cancelation token for CheckInputs in PowCoinViewRule"
aprogiena wrote:

The current for loop for checking the results could be changed to use a cancellation token.

[code]

[2018-05-23 13:35] Aprogiena commented on #1446
General idea here is to have a common cancellation token for all the tasks which would be cancelled in case an invalid script is detected and which would prevent starting the costly validation work on the tasks that have not really been started yet.

[2018-05-23 15:10] dangershony commented on #1420
Hmmm its probably a race condition, we should

[code]

[2018-05-23 15:28] dangershony commented on #1421
Ah I see this is so that the data folder is marked as in processes.

Yes fair enough another option is to open a file and keep it open (open lock) until the node is shutdown.
However pid might  be better, we also need to make sure it works the same in linux/os

[2018-05-23 15:46] dangershony commented on #1438
Yes I will do this as part of the refactor change.

[2018-05-23 15:48] dangershony commented on #1439
Its suppose to make the store closer tied to consensus, then consensus can read missing blocks when it needs to recover from a reorg.

One more thing this will allow us to have a pruned node in a proper way (where we keep the last X blocks in disk and delete anything before that).

[2018-05-24 16:01] noescape00 opened #1450 "Guard improvements"
We have numerous lines like this in our codebase:

[code]

First parameter is the variable and the 2nd is it's name. Variable name is used ONLY when guard throws.

So the point is to introduce an override of the NotNull that will do exactly the same but accept only 1 value- the variable.

Example snippet:

[code]

That will save us some time writing those `nameof(something)` all the time.

[2018-05-24 16:40] dangershony commented on #1450
Hi sure looks nice

[2018-05-25 00:11] bokobza commented on #1450
Really cool.

[2018-05-25 09:20] noescape00 commented on #1450
Approach doesn't work reliably on Release.

[2018-05-25 09:20] #1450 closed

[2018-05-25 10:40] noescape00 opened #1453 "Separate AsyncQueue into two classes"
Currently AsyncQueue can work in 2 modes- callback mode and active dequeue mode. Separate AsyncQueue into two classes- each of them should implement one mode.

[2018-05-25 10:41] noescape00 opened #1454 "Create AsyncQueue with timer"
AsyncQueue with timer should be triggered on timer or when some condition is met.

[2018-05-25 12:07] mwherman2000 commented on #1428
Fix re-issued as PR https://github.com/stratisproject/StratisBitcoinFullNode/pull/1455

[2018-05-29 23:03] #1439 closed

[2018-05-30 05:53] quantumagi commented on #1421
Does it matter that an unrelated (or related) process with the same PID as stored in the file may be created at some later time. It may cause the above logic to fail on rare occasions? Perhaps store some additional identifying information alongside the PID?

[2018-05-30 06:01] quantumagi commented on #1421
Perhaps this could be handled as a method on the DataFolder class:

[code]

[2018-05-30 14:41] dangershony commented on #1421
@quantumagi this looks good to me, it should probably go in the BaseFeature.

[2018-05-30 14:43] dangershony commented on #1441
Thats a good question, can you verify that? it was ported from StratisX.
I think the TODO is wrong.

[2018-05-30 14:44] #1442 closed

[2018-05-30 14:46] mikedennis opened #1461 "[Mempool] Disconnect peer when bandwidth limit reached"
In mempool behaviour implement logic to disconnect peer when bandwidth limit reached.

As per:
[code]

[2018-05-30 14:46] dangershony commented on #1323
@noescape00 please close this is not relevant

[2018-05-30 14:47] dangershony commented on #1113
@zeptin so this can be closed?

[2018-05-30 21:41] noescape00 opened #1462 "Coinview race condition that leads to consensus loop stopping"
Happened during IBD on BTC mainnet:

[code]

[2018-05-30 22:54] bokobza commented on #1462
Is that from master, using the new BlockStore and ChainHeader?

[2018-05-31 15:50] noescape00 commented on #1462
Yes. But I'm pretty sure the bug is about validation, not new components- the coin that was retrieved from utxo set was null.

Around 300k

We had very similar bug couple of months ago and investigated it- was the problem with CachedCoinView

No, unfortunately. I usually disable logs during IBD

DB was corrupted after the restart.

[2018-05-31 15:51] noescape00 commented on #1462
Don't know if we wan't to fix this one, actually. Most likely this bug will be fixed after TheBigRefactoring is finished. Not entirely sure though.

[2018-06-01 11:32] dangershony opened #1467 "Stratis (pos) BlockHeader get hash method uses the bitcoin consensus factory"
This is because ConsensusFactory is defaulted to Bitcoin main network.

Possible fixes are
- Pass CF in the GetHash method - least preferred idea.
- Inject the CF in the constructor of BlockHeader (possible as the block header is created in CF) could also be done only in the POSHeader
- Move the method GetHash to another place (CF maybe)

[2018-06-01 11:35] dangershony commented on #1462
Ok yeah so keep it open for now I guess in case it happens again.

[2018-06-01 11:36] dangershony commented on #1421
Probably not, it should happen in side the node itself so the logic is applied to every node.

[2018-06-01 11:37] dangershony commented on #1421
Ah no also a bad idea, it should go in the base feature.

[2018-06-03 01:44] mikedennis commented on #631
Yes this is still occurring frequently on bitcoin testnet. Getting this error frequently:
``` MempoolErrorException:'WitnessProgramMissmatch' ErrorCode:'mandatory-script-verify-flag-failed',ErrorMessage:'WitnessProgramMissmatch' ```

And this one occasionally:
``` MempoolErrorException:'WitnessProgramEmpty' ErrorCode:'mandatory-script-verify-flag-failed',ErrorMessage:'WitnessProgramEmpty' ```

[2018-06-03 19:17] TjadenFroyda opened #1469 "Can't start node after checking out latest commit from #1431."
Checked out master after the latest commit from #1431. Starting node with "run -txindex=1". Fails even after adding "-maxCacheBlocksCount=300" to command line options.

![image](https://user-images.githubusercontent.com/38709281/40890235-88e5c7a4-6738-11e8-9381-ad50142f8cc5.png)

Looks like the error may have to with MaxCacheBlocksCount in StoreSettings.cs

[2018-06-04 07:43] quantumagi opened #1471 "Split NodeSettings class"
The NodeSettings class is currently both a configuration source for all settings classes AND the settings class for the base feature. This improvement splits the class into two separate classes: `NodeConfiguration` and `BaseSettings`.

[2018-06-04 08:13] quantumagi commented on #1471
This first PR is ensuring that we have a `public xxxSettings(NodeSettings nodeSettings, Action callback)` method for all settings classes and also does some logging improvements.

[2018-06-04 09:46] dangershony commented on #1469
This is odd it seems to default to 300
` this.MaxCacheBlocksCount = nodeSettings.ConfigReader.GetOrDefault("maxCacheBlocksCount", DefaultMaxCacheBlocksCount);`

[2018-06-04 09:52] noescape00 commented on #1469
BlockStoreCache constructor is called before the StoreSettings.Load so we are using uninitialized value

[2018-06-04 15:59] fassadlr commented on #1469
I can confirm, the latest from master throws this exception.

[2018-06-05 15:55] dangershony commented on #1461
This should also check the other condition in that method and make sure they are implemented/needed

[2018-06-05 23:27] #1436 closed

[2018-06-06 10:34] noescape00 opened #1479 "Blocks are not accessible at some rare points in time"
This behavior was present in our node for a long time and it might have been a source of several problems.

When consensus advances or reorgs it signals components about a new block. This block will get to the block store pending storage and until batch with this block is saved it won't be accessible to anyone and if some component asks for a block it might receive a null because it's not in the r

[2018-06-06 11:09] quantumagi commented on #1471
PR 1470 was closed and replaced by https://github.com/stratisproject/StratisBitcoinFullNode/pull/1478.

[2018-06-07 14:34] noescape00 commented on #1156
Fixed by CHT design

[2018-06-07 14:34] #1156 closed

[2018-06-08 10:38] #1181 closed

[2018-06-08 15:46] mikedennis commented on #1250
@noescape00 @dangershony What's the next priority with this? The 3 items noescape mentions above? I will start working on the next PR.

[2018-06-08 16:38] dangershony commented on #1250
What is the next PR?

[2018-06-08 16:54] #1375 closed

[2018-06-08 18:22] noescape00 commented on #1250
Yes, after fixing the locks next logical here is to improve on the design. Potential improvements are mentioned in that comment from the 3rd of May

[2018-06-10 17:55] Aprogiena opened #1499 "Bitcoin compatibility specified in documentation"
https://github.com/bitcoin/bips/blob/master/bip-0002.mediawiki#progression-to-final-status Suggests:

As we do produce software compatible with bitcoin, we should specify which proposals are actually implemented in our products. It should look like something like this: https://github.com/bitcoin/bitcoin/blob/master/doc/bips.md

[2018-06-10 21:40] dangershony commented on #1499
Absolutely great idea.

[2018-06-11 11:51] noescape00 commented on #1322
Tests:

[code]

[2018-06-12 09:59] dangershony commented on #1423
This task should also fix  the issue of banning of white-listed nodes (a node that is about to be banned if its white-listed it should not be banned)

[2018-06-13 12:29] quantumagi commented on #1441
Ah I see that CompareModifiedEntry is using OrderBy**Descending**. The same should happen with CompareTxMemPoolEntryByAncestorFee which is currently using OrderBy. So CompareTxMemPoolEntryByAncestorFee  should be brought in line with CompareModifiedEntry.

[2018-06-13 13:45] quantumagi commented on #1441
The following may assist in removing the duplication in logic:

[code]

[2018-06-13 14:42] dangershony commented on #1441
Yes sounds good, should be quick and easy.

[2018-06-14 04:30] mikedennis commented on #1250
I'm working on this next:

[2018-06-14 09:42] noescape00 commented on #1250
Ok. But that's more like a research. You will need to check out BTC core too.
The thing is: when we are propagating someone else's tx we can propagate to all the peers and we can delay it a bit to form batches.
For our txes we wanna do it right away (maybe add to a batch and trigger send?) and maybe we want to send to half of the peers (so we receive it from other part and know for sure it was acc

[2018-06-14 12:05] xianaofei opened #1525 "wallet private chain and main chain building"
How to build a private chain, for example, to build a BTC Wallet
WGet https://bitcoin.org/bin/bitcoin-core-0.15.1/bitcoin-0.15.1-x86_64-linux-gnu.tar.gz
Echo "export PATH=${PATH}: /usr/local/bitcoin/bin/"
Bitcoin.conf
Seek help
How to build the private chain and main chain of Stratis Purse
WGet xxx (What is the address of the wallet？)
Does Stratis have a wallet under Lunix?
Thank you

[2018-06-14 12:22] dangershony commented on #1525
Yes stratis is dotnet core which is cross platform.

To create a new wallet is fairly easy please refer to our discord for guidance.

[2018-06-14 13:13] xianaofei commented on #1525
Sorry

I want more details. As a beginner, I need more help.

Thank you

[2018-06-14 13:18] osef123 commented on #1525
Go on discord to ask questions please: https://discord.gg/9tDyfZs

[2018-06-18 12:13] damien-r opened #1534 "TransactionBuilder.CoinSelector can't be modified when calling WalletController.BuildTransaction"
The code of StratisBitcoinFullNode is in majority well written to be modular, to allow developers to use it and customize its features without having to touch the original code using dependency injections, interfaces and other mechanisms.

However, I am trying to change the comportment of ICoinSelector when calling WalletController.BuildTransaction, but I can't find a way to do so without having t

[2018-06-20 03:53] mikedennis commented on #1250
Sounds good - will check on BTC core first and see what they are doing 👍

[2018-06-21 14:07] mwherman2000 opened #1545 "SmartContracts: Add support for `public partial structs`"
Add support for `public partial structs` to enable structs to be implemented across more than one C# source file:
- C# compiler supports this already
- Creates a single, plain old C# MSIL assembly/DLL
- SCT would need to be updated to support the passing in of multiple source files.

[code]
CC: @codingupastorm

[2018-06-21 14:13] mwherman2000 opened #1546 "SmartContracts: Add support for SC conditional compilation based on STRATSC as a target"
Add the ability to conditionally compile code (e.g. fields and/or methods) based on whether the C# code is targeting the onchain Stratis SmartContract framework or the code is to be used offchain.
[code]
...for example, structs/fields/methods for onchain and offchain data management to support an onchain-offchain symmetric programming and data management model.

Reference: https://docs.microsoft.c

[2018-06-21 14:22] dangershony commented on #1546
I don't think there will ever be a case to run a smart contract off-chain, can you give examples?

Onchain is limiting very much what can be executed so why limit yourself for offchain execution.
Also is there a need to have determinisem in offchian scenarious?

Basically off chain IMO just means typical programs we normally use C# for.

[2018-06-21 16:23] maciejzaleski opened #1550 "When restoring multiple wallets some transactions might be missing"
**Steps**
- Start FullNode
- Restore WalletA (from block height 100)
- Restore WalletB (from block height 500)
- When the second wallet begins restoring the Wallet tip will jump to 500 hence some transactions might not be restored from WalletA

**Fix in LightWalletSyncManager.cs**
https://github.com/breezehub/StratisBitcoinFullNode/blob/breeze-beta/src/Stratis.Bitcoin.Features.LightWallet/LightWal

[2018-06-21 16:23] mwherman2000 commented on #1546
My specific goal isn't to be able to run an "as is" SC offchain but rather have significant data management components (e.g. entity serialization) be able to be used on-chain and off-chain supporting different persistence providers (e.g. Stratis SC on-chain storage, NEO SC on-chain storage, #DIYDLT on-chain storage, SQL Server or mysql off-chain storage, JSON files, SharePoint lists, Salesforce cu

[2018-06-21 16:28] mwherman2000 commented on #1546
That being said, the test harness for the SSC Visual Studio template is pretty interesting. I've already created a version of it that persists all of the SSC storage operations to JSON ...why not also support a SQL back end? ...or Salesforce?

Smart Data = Entities wrapped in code ....on-chain or off-chain.

[2018-06-21 16:43] mwherman2000 commented on #1546
Here's another use case: To remove support for selected SSC-specific blacklisted data types from my cross-platform data management code.

[2018-06-22 03:42] mikedennis commented on #1250
Regarding propagating someone else's tx: seems btc core is sending it right away just like we are. I didn't see any batching logic unless it's buried in the peer itself.

Looking through ``` ProcessTxPayloadAsync ``` and comparing with btc core a couple of things I noticed:
*  We seem to be missing the whitelisting/whitelistrelay logic but btc has it. Looks like we've  implemented something simila

[2018-06-22 09:32] noescape00 commented on #1250
What whitelisting logic does in BTC? It doesn't validate txes from whitelisted nodes when they are getting to the mempool?

For sure. This component is a mess and we need to fix it sooner or later.

[2018-06-22 10:28] codingupastorm commented on #1545
Can do. We'll have support for multiple files in the future. Will try and sneak that in soon.

[2018-06-25 05:43] TjadenFroyda opened #1554 "Getrawtransaction null after recent move of IBlockStore Interface into BlockStoreQueue"
Above issue was noted by InterestingBeing Sunday in discord as something than had stopped working between 1.1.11 and 1.1.12; tracked down the issue after confirmed on my end. Details:
The IBlockStore interface was moved to BlockStoreQueue in #1517 from BlockStoreFeature. The getrawtransaction API and RPC methods use GetTrxAsync from the IBlockStore interface, which in turn had called the method in

[2018-06-25 10:59] mikedennis opened #1555 "Resolve todo issues in mempool behavior"
Work based upon bitcoin core implementation

[2018-06-25 11:12] mikedennis commented on #1555
@noescape00 @dangershony I notice that there is logic in btc core related to setting min tx fee on peers. Do you guys know do we have that feature in our peer implementation?

[2018-06-25 11:42] dangershony commented on #1554
Ah indeed correct there is a bug

We need to tell the DI that `BlockStoreQueue` is the implementation of `IBlockStore`.

So I'd say the correct way is to add this line in BlockStoreFeature
[code]

Then in the controller constructor
[code]
This will make store available.

[2018-06-25 11:43] dangershony opened #1557 "[RF] Implement consensus validators"

[2018-06-25 11:43] dangershony opened #1558 "[RF] Implement ChainedHeaderBehaviour"

[2018-06-25 11:44] dangershony commented on #1555
Its min relay tx fee no? (meaning how much fee required to relay a trx)
I think we have it and its configurable.

[2018-06-25 17:34] noescape00 commented on #1555
Yeah, we have it. And it's lower than min fee to include it to the block.

[2018-06-25 18:37] noescape00 commented on #1554
Strange that we don't have tests that cover all API and RPC methods. Probably also should add some after the issue is fixed.

[2018-06-25 18:53] TjadenFroyda commented on #1554
@dangershony - ahh...I was missing that second step with the DI when I tried that. Much easier :)  @noescape00 - my bad, didn't cover this scenario with my last PR. Could address the tests with this quick fix if you all would like.

[2018-06-25 20:23] noescape00 commented on #1554
That would be nice, thanks!

[2018-06-25 21:51] noescape00 opened #1561 "Node drops all connections if there are no DNS nodes"
AddrPayload is created with no addresses If there are no DNS nodes specified. This makes all connections to drop (connections are establishes using -connect and -addNode commands).

Reported by sondreb from the community discord, didn't check myself yet.

[2018-06-26 10:15] noescape00 opened #1566 "Recognize pruned nodes and avoid requesting blocks from them"
Add logic to BP that will allow recognizing pruned nodes and it will requesting blocks from them when we are asking for blocks with timestamps that are more than 2 days behind current time.
See BIP 159

[2018-06-26 14:39] sondreb commented on #1561
The setup is with two local nodes, with only the two LAN IPs as seed nodes (no DNS seeds). Connection stops after the resulting "addr" response, if it returns an empty array.

Manually setting some values in the return value of AddrPayload class, makes two nodes successfully connect and keep connection open.

[2018-06-28 02:17] mikedennis commented on #1555
```ProcessInvAsync()``` logic around blocksOnly mode is incorrect. It currently is just outputting a warning and still sending the the tx, but what btc core is doing is it should just add it to known inventory but not relay it to peer.

[2018-06-30 22:57] bokobza opened #1582 "Node fails to load if wallet is present"
Loading a Stratis test node with a wallet present shows the following exception:
[code]

@fassadlr could you please have a look?

[2018-07-02 17:42] mikedennis commented on #1555
A few other todo's that need to be discussed for "INV" (``` ProcessInvAsync() ```)message:
* Misbehaving logic (basically peer banscore). I don't think we have banscore implemented at all in our p2p? Is this something we want to implement?
* Btc process blocks in inventory in addition to tx (we currently only process tx's). It looks like when btc receives a block in inventory that it doesn't alrea

[2018-07-03 00:13] rowandh commented on #946
@bokobza what's the status of this? Would you mind if I took a look?

[2018-07-04 14:39] monsieurleberre commented on #1083
I did that:
dotnet run -port=16124 -apiport=38021 -addnode="213.153.144.161" -addnode="84.200.92.185" -addnode="188.47.112.251" -datadir="C:\Users\matthieu\AppData\Roaming\StratisNode\stratis0"
dotnet run -port=16125 -apiport=38022 -addnode="213.153.144.161" -addnode="84.200.92.185" -addnode="188.47.112.251" -datadir="C:\Users\matthieu\AppData\Roaming\StratisNode\stratis1"
dotnet run -port=16126 -

[2018-07-04 22:05] sondreb opened #1614 "Incorrect proof of work"
Setting up a local network of two nodes, I had two nodes both mining, the first node was online first and mined 2 blocks, then I turned on the second node and it mined 1 block before it synced up with the other node. Then after a short while, the second node started complaining about "incorrect proof of work" (the node finds a new block).

[code]

The code at the line:

[code]

Here is a zip of th

[2018-07-05 01:33] mikedennis commented on #1555
@dangershony @noescape00  Looking for your opinion on the above when you get a chance.

Also in regards to tx relay fee. What I'm looking at is actually the "feefilter" p2p message. It doesn't look like we implement it. It was implemented in BTC 0.13 here is the bip https://github.com/bitcoin/bips/blob/master/bip-0133.mediawiki

[2018-07-05 02:35] r3lik commented on #1215
`-reindex` doesn't work either:

`fail: Stratis.Bitcoin.Builder.FullNodeFeatureExecutor[0]
stratisd            |       An error occurred starting the application: System.AggregateException: One or more errors occurred. (Re-indexing the block store in currently not supported.) ---> System.NotSupportedException: Re-indexing the block store in currently not supported.
stratisd            |          a

[2018-07-05 09:05] #1083 closed

[2018-07-05 09:07] monsieurleberre commented on #1396
OK I'll give it a try

[2018-07-05 09:55] dangershony commented on #1614
I am aware what the problem is and will work with @fassadlr to fix it.
Basically we need another BlockDefinition for a POS network that is mining POW blocks.

[2018-07-05 09:57] bokobza commented on #1582
Fixed with the referenced PR.

[2018-07-05 09:57] #1582 closed

[2018-07-06 14:36] einewton opened #1625 "Unable to mint PoS coins throguh staking"
Referring to the test case Staking_wallet_can_mint_new_coins this method does 6 things. The test runs successful, however it is invalid.

When reading through the 6 things this test case runs, first it will create a genesis block via PoW, with a PoS node will stake the pre-mined coins, during the stake process new coins **should** show up in your wallet, but this is not the case.

The newly genera

[2018-07-09 07:22] damien-r opened #1633 "Can't use PosConsensus with SmartContracts"
Hi,

If I use the following FullNodeBuilder:
[code]

I got some errors. First one, in BlockDefinition.cs, line 255:
`var coinviewRule = this.ConsensusLoop.ConsensusRules.GetRule<CoinViewRule>();`

`System.InvalidOperationException: 'Sequence contains more than one matching element'`

Caused by the fact that the rules contains a SmartContractCoinviewRule and a PosCoinviewRule.

This can be correcte

[2018-07-09 08:31] fassadlr commented on #1633
Hi @damien-r , please note that our smart contract feature does not yet support the proof of stake protocol but will do so in later releases.

[2018-07-09 08:31] #1633 closed

[2018-07-09 09:49] fassadlr commented on #1625
Hi @einewton, yes the test's assert was incorrect. However, there was other work that needed to be done on block creation to ensure that the test passes correctly. A PR for this will be submitted today. Thanks for pointing this out 👍

(This relates to #1614 as well)

[2018-07-09 09:50] fassadlr commented on #1614
Hi @sondreb this issue has now been fixed. A PR will be sumbitted today. Thanks!

[2018-07-09 10:35] #1443 closed

[2018-07-09 15:22] Mike-EEE commented on #1399
I wanted to add my appreciation and support for the dialogue that has taken place here.  I for one am "ALLTHEVAR", and am of the mindset that the less amount of characters (busyness) on the screen, the better.  If I want to know the type I leverage tooling/tooltips, etc.

HOWEVER, I realize that is simply my perspective and the team is bigger than that.  I could get into a system where a final for

[2018-07-10 12:11] bokobza commented on #1179
That's done.

[2018-07-10 12:11] #1179 closed

[2018-07-10 12:16] bokobza commented on #1160
That's done.

[2018-07-10 12:16] #1160 closed

[2018-07-10 12:19] bokobza commented on #273
Not relevant anymore.

[2018-07-10 12:19] #273 closed

[2018-07-10 12:20] bokobza commented on #124
That's done.

[2018-07-10 12:20] #124 closed

[2018-07-10 12:21] bokobza commented on #1299
Done

[2018-07-10 12:21] #1299 closed

[2018-07-10 12:28] dangershony opened #1648 "Move Rules to the network class"
Rules are representations of the consensus rules of specific networks it only makes sense to move them to the Network class.
This allows reusing rules and also making network specific rules.

[2018-07-10 13:43] bokobza commented on #1534
Yep, that's a great idea and something we've thought a lot about.
Somehow it didn't make it in the Wallet yet, but we'll try to address this soon.
Thanks @damien-r .

[2018-07-10 14:45] #1614 closed

[2018-07-10 16:07] bokobza commented on #1625
@fassadlr please close this if possible.

[2018-07-10 16:07] bokobza commented on #1113
@fassadlr please close this if possible.

[2018-07-10 16:21] fassadlr commented on #1625
Fixed with #1634

[2018-07-10 16:21] #1625 closed

[2018-07-10 16:22] fassadlr commented on #1113
Fixed with #1634

[2018-07-10 16:22] #1113 closed

[2018-07-13 09:21] bokobza commented on #1554
Fixed with https://github.com/stratisproject/StratisBitcoinFullNode/pull/1635

[2018-07-13 09:21] #1554 closed

[2018-07-14 12:41] noescape00 opened #1657 "Implications of receiving a bogus block locator"
When we receive GetHeadersPayload we try to find fork using block locators. Explore the implications of sending 32mb of rubbish as a block locator.

[2018-07-16 17:15] dangershony commented on #1648
The plan as was discussed with @fassadlr and @bokobza is to create a new project for the networks.
Some of the rules will move to there own project (the rules that are common) rules that are specific to a network will go in the Networks project in the same folder of the network they belong to.

This will remove the dependency, we may need to move IConesnusRule in to NBitcoin until we migrate the e

[2018-07-16 17:16] dangershony commented on #1566
This is done using the NetworkService enum and should already be enforced, if not its a bug.

[2018-07-17 09:58] bokobza commented on #1467
This is done.

[2018-07-17 09:58] #1467 closed

[2018-07-17 11:20] bokobza commented on #1173
* In Bitcoin, the buffer sizes are the same as we have in our code.
For example for the receive buffer we have [ReceiveBufferSize = 1000 * 5000;](https://github.com/stratisproject/StratisBitcoinFullNode/blob/master/src/Stratis.Bitcoin/P2P/Peer/NetworkPeerConnectionParameters.cs#L45)
In bitcoin, the DEFAULT_MAXRECEIVEBUFFER is [5000](
https://github.com/bitcoin/bitcoin/blob/0568dcd67d34728042259dc8

[2018-07-17 13:02] Aprogiena commented on #1173
Though it wouldn't hurt to just change one constant in the network peer constructor. Would there be any disadvantage of doing so?

[2018-07-17 13:34] monsieurleberre commented on #1420
I am not sure ToList() will fix it, but it looks like ToArray should:

https://stackoverflow.com/questions/43924965/how-to-get-moment-in-time-snapshot-of-concurrentdictionary-in-c

The source code in .Net core does take a lock on the dictionary before enumerating it
I can try that...

[2018-07-17 14:22] dangershony commented on #1558
https://github.com/stratisproject/StratisBitcoinFullNode/commit/86892fa8e339638851feaefe27cf91d3c2a40581

[2018-07-17 14:22] #1558 closed

[2018-07-17 14:22] dangershony commented on #1557
https://github.com/stratisproject/StratisBitcoinFullNode/commit/f6ea0f603014313003563e4453dff37b21a7c26d

[2018-07-17 14:22] #1557 closed

[2018-07-17 14:33] noescape00 commented on #1479
I'm suggesting asking pending storage as well.

If we put blocks into the cache (which we already do) and in the background we have a wallet syncing it will override those 300 items that are in the cache.

[2018-07-17 14:35] dangershony commented on #1433
This was done

[2018-07-17 14:35] #1433 closed

[2018-07-17 14:40] Aprogiena commented on #1479
The idea is to get rid of the cache because a better cache is implemented in CHT. Then we need the queue itself to be checked for the blocks that are yet to be written to the database.

[2018-07-17 15:23] bokobza commented on #1173
Not that I can think of.
The buffers will be bigger so will take more space, but that's about it.
It might be hard to test as we'll need to find a Mac with Sierra and < 8 GB which might be tricky.

Happy either way, should take 5 sec to fix and 1h to test it didn't break anything.

[2018-07-17 15:26] mikedennis commented on #1173
I can fix it and test with my Windows box but I don't have a Mac to test with

[2018-07-18 04:16] mikedennis commented on #1173
Should note this change makes the buffers smaller not bigger. 5,000,000 -> 1,048,576 So I would expect if anything it might effect performance. I created a PR if you guys want to give it a whirl. I'm going to run some tests on it myself.

[2018-07-18 06:35] Aprogiena commented on #1173
I would go for it, it should be trivial and I can't see any disadvantages.

[2018-07-18 07:59] bokobza commented on #1173
ah yes indeed thanks @mikedennis, we're making the buffer to accommodate more platforms.

It might affect performance because the buffer is made smaller to cater for old versions of Mac.

Not sure why we need this:
Bitcoin doesn't have this limitation, and we're limiting every platform just to cater for Macs with < 8GB Ram.

[2018-07-18 09:05] bokobza commented on #1173
I'm ok with that. Let's see what @mikedennis's tests yield.

[2018-07-18 09:06] bokobza commented on #1173
Assigned myself as I can't assign @mikedennis so people see it's not free to take.

[2018-07-18 12:01] bokobza commented on #1420
Closed with https://github.com/stratisproject/StratisBitcoinFullNode/pull/1664

[2018-07-18 12:01] #1420 closed

[2018-07-18 12:03] fenix2222 commented on #1391
@bokobza @dangershony Can this be closed now as https://github.com/stratisproject/StratisBitcoinFullNode/pull/1663 was merged?

[2018-07-18 12:46] #1391 closed

[2018-07-18 13:14] monsieurleberre commented on #1180
so we agreed on the following
1) minimum coin size > 0.01
2) for staking amounts > 100 strats, aim for an even split of the coins up to 501*3 utxos

[2018-07-18 14:03] noescape00 commented on #274
fixed by the new puller btw so we may close it already

[2018-07-18 15:52] sondreb opened #1677 "Add support for separate passphrase and encryption password for account creation (and decryption)"
**Issue**
the api/wallet/create API method that takes WalletCreationRequest type, does currently not support separate passphrase and password for disk encryption.

The API Create method calls WalletManager.CreateWallet, which does support separation of passphrase and password. When passphrase is not supplied (which is it not in the API), the wallet manager will use the password for both mnemonic s

[2018-07-19 02:13] rowandh commented on #1362
I see I've been assigned this but what is the task? NetworkBuilder seems to have been removed already.

[2018-07-19 05:09] codingupastorm commented on #1215
I'll fix the error message to just mention `-reindex`, not `-reindex-chainstate`.

@bokobza @dangershony could you fill me in on roughly what you want reindexing to achieve? I assume it's `for every block in the database, go back and reinsert it and it's transactions according to whether TxIndex is set` ?

[2018-07-19 10:23] #1173 closed

[2018-07-19 15:57] bokobza opened #1685 "Add Api support to BitcoinD"
At the moment, for some unknown reason, bitcoinD isn't using the Api feature.

[2018-07-19 16:01] ferdeen commented on #1685
Confirm Api support :

![image](https://user-images.githubusercontent.com/16000683/42954754-2f5c0a20-8b75-11e8-8df3-163d26c44c94.png)

And in Swagger :

![image](https://user-images.githubusercontent.com/16000683/42955116-614f9bd2-8b75-11e8-99e7-97812d8c99e3.png)

[2018-07-19 16:21] majikandy opened #1686 "On ReOrg, transactions removed need to return to mempool"
**In order to** maintain a complete chain
**As a** node
**I want** transactions missed on reorg to return to the mempool

**Acceptance Criteria**
- Transactions missing on reorg are in the mempool after the reorg completes

NOTE: current behaviour in the node is ...
When a reorg happens, blocks in the discarded shorter chain are not returned to the mempool.

[2018-07-19 16:22] bokobza commented on #1677
I agree 100% and this is something we've talked about a lot.
The first step would be to separate the passphrase from the password.

To do that you can:
1. add a passphrase field where required, from wallet creation request objects (WalletCreationRequest and WalletRecoveryRequest) to the WalletController to the WalletManager
2. if there's no passphrase, use only the mnemonic to create the private k

[2018-07-20 07:29] codingupastorm opened #1689 "TransactionBuildContext should only be used internally by the WalletTransactionHandler."
Currently `WalletTransactionHandler` uses `TransactionBuildContext` internally, but this same object is passed in to `BuildTransaction` as a kind of option. What ends up happening is you can set values on the context and pass it into `BuildTransaction` but they will be completely overwritten by the internal functionality of the `WalletTransactionHandler`.

There should really be a separate options

[2018-07-20 07:32] codingupastorm opened #1690 "Move projects out to separate repos."
The solution is currently massive.

There are a few projects which can definitely be moved out into separate repositories.

At the least, from the smart contracts side:
* The template projects
* SmartContracts.Standards

In the future we could also remove the validation and Sct projects out too. Depending on where the development of smart contracts is up to we will do this.

@majikandy @dangershon

[2018-07-20 07:40] rowandh commented on #1689
@codingupastorm while you're looking at this, can you take a look at the TransactionBuilder property and see if it makes sense to remove the property and instead add a method `Build(TransactionBuilder builder)` on TransactionBuildContext?

If it does we can add another issue, feel free to assign to me.

[2018-07-20 07:42] rowandh commented on #1534
@majikandy @dangershony happy to grab this one if it fits in the next sprint

[2018-07-20 08:28] ferdeen commented on #1685
https://github.com/stratisproject/StratisBitcoinFullNode/pull/1691

[2018-07-21 01:49] codingupastorm opened #1695 "Implement API call to run smart contract methods locally in SmartContractsController"
Developers may want to return the result of a particular method locally without running the code on-chain. The primary use case will be in the retrieval of some static information. E.g. maybe there is a `GetAverageHoldings` method in an ICO contract that returns `totalSupply / investors.Count`.

They should be able to do this via the API.

We need a public API call, built into SmartContractsContro

[2018-07-21 01:58] codingupastorm opened #1696 "Enable compiler optimizations in SmartContractCompiler"
SmartContractCompiler is used to compile our contracts via Roslyn.

The OptimizationLevel is currently set to the default, Debug.

In order to significantly reduce the size of contracts we'd like to compile with Release.

Changing this will break some tests so we need to update this and then ensure all tests pass.

@rowandh is there any complexity here you know of that I'm missing?

Current Bounty

[2018-07-21 02:28] codingupastorm opened #1697 "SmartContractGasInjector fails with recursive methods."
The SmartContractGasInjector throws `System.InvalidOperationException: 'Operation is not valid due to the current state of the object.'` when injecting gas into a recursive method.

Simple, albeit contrived example:

[code]

We should have a test for a recursive example, like above, in GasInjectorTests.cs, and have a fix so this is resolved.

Current Bounty: 10 STRAT

[2018-07-21 02:48] codingupastorm opened #1698 "SmartContractGasInjector creates an invalid program in methods with nested loops."
When there are nested loops of non-constant iterations, the GasInjector injects the SpendGas code in such a way that the resulting CIL is invalid. When we try to execute the method via reflection we get the following exception: `System.InvalidProgramException: Common Language Runtime detected an invalid program.`

Playing with it myself, I was able to find the following code that will produce this

[2018-07-21 04:40] codingupastorm opened #1699 "Initialized readonly field in a smart contract causes null reference."
When creating the following contract, a NullReferenceException occurs as the contract tries to spendgas in a method that occurs before the constructor is executed (I believe).

[code]

@rowandh may have more to say about this.

[2018-07-21 05:31] codingupastorm commented on #1696
Would also be great to have the deterministic option turned on.

[2018-07-21 18:59] mikedennis commented on #1250
I think this issue can be closed?

[2018-07-21 21:00] noescape00 commented on #1250
Yes, I think so

[2018-07-21 21:00] #1250 closed

[2018-07-22 03:26] codingupastorm opened #1702 "Stratis.SmartContracts.Core project shouldn't be dependent on Stratis.SmartContracts"
Stratis.SmartContracts.Core provides functionality to run code on all VMs.

Stratis.SmartContracts is specifically for running code on the CLR and should only be consumed by the Executor.Reflection package.

Will need to work out where to draw the line in the sand on which classes / interfaces belong where. The main problematic one that I know of is `Address`.

[2018-07-22 22:08] codingupastorm commented on #1545
@mwherman2000 we're starting to address this:

https://github.com/stratisproject/StratisBitcoinFullNode/pull/1700

I believe it will be available by beta / mainnet

[2018-07-23 00:04] codingupastorm commented on #1217
@Aprogiena @noescape00 with this:

[code]

Are you cool if we remove the `-4K for sanity`: AKA if we set 1MB it will be 1MB. Not 1MB - 4KB.

[2018-07-23 00:58] rowandh commented on #1699
This occurs due to an invalid assumption in `SmartContractGasInjector` about the presence of opcodes invoking the base constructor. A readonly field will be set before the base constructor is invoked.

Consider this class:
[code]

The generated IL is:
[code]

We should look into pattern-matching the base constructor call instead.

[2018-07-23 07:01] rowandh opened #1707 "Smart contract executor should handle CallData deserialization failures"
Currently it's a TODO

[2018-07-23 09:35] ferdeen commented on #1423
Did a quick review of the code around this.

It looks like the `DnsFeature `(which deals with seednodes and the whitelist), needs access to peer banning functionality, which is carried out in `Stratis.Bitcoin.Connection`.

[2018-07-23 09:50] dangershony opened #1708 "Signal blocks when a reorg happens"
It was agreed in a call that we will implement reorg signalling.

This requires some changes to CM.

There will be introduced a MaxBlocksInStore constant that will allow storing enough blocks in store to allow signalling of blocks that have been reorged.

This effects mainly pruned nodes and light wallets.
Ont thing to investigate is light wallets.
One suggestion was to signal block hashes not ful

[2018-07-23 11:40] noescape00 commented on #1217
Yeah, I'm totally cool with it.

Block assemblers in general should be reviewed, a lot of stuff is mixed with bitcoin with segwit logic that we dont have.

[2018-07-23 12:02] dangershony commented on #1362
The acceptance criteria of this task would be:
Making Network Immutable
Making Network Flexible

For example Consensus has a mixture of POW/POS parameters where POW just ignores some of them, how can we make a better separation

[2018-07-23 13:40] #1215 closed

[2018-07-23 15:57] fassadlr commented on #1194
@thefazzer we will somehow need to inform the address manager of the fact that version handshake failed. For this I recommend we create a `VersionHandshakeException` which we can then catch when we try and connect. Please see `PeerConnector.ConnectAsync`, I would change this like so:

[code]

We can then implement the relevant methods etc and throw the exception in `INetworkPeer.VersionHandshakeAs

[2018-07-23 16:36] Aprogiena commented on #1194
[code]

We already have these two exceptions and we already handled them both (protocol is caught with Exception class), so we only need to call the logic that will mark it down.

I think we should not try to reconnect to the peer anytime soon even after the first failure. It probably doesn't make sense to try to connect to someone for at least an hour if we just failed establish the connection pr

[2018-07-23 21:10] codingupastorm commented on #1217
Sorry that was only the first part of the issue in that PR. I thought it might be controversial so did it first.

Reopening.

[2018-07-23 21:57] codingupastorm opened #1714 "Within smart contracts we need to be able to convert all allowed types to byte arrays and back."
We don't want to open direct access to System.Text or BitConverter, however we still need to convert between bytes and the below types. Useful for hashing etc.

Bool should go back and forwards with byte.

The others should be translatable to bytes:
* int
* uint
* long
* ulong
* string (Encoding.UTF8, and to/from hex)
* Address

We should have a NuGet package purely for this implementation, likely

[2018-07-24 02:55] mwherman2000 commented on #1695
A nice extension (no bounty from me) would be to enable a symmetric programming model where an SC could also be deployed off-chain to support the wrapping of an identical implementation of a set of business rules around off-chain data. The existing Visual Studio SSC template test harness provides most of the source code you need to implement this capability.

[2018-07-24 04:46] codingupastorm commented on #1217
I'm a little confused here  - the const used for DefaultBlockMaxSize is actually used as the MaxSerialized size.

BlockDefinition:550

When someone sets 'blockmaxsize=' I would have assumed they want to set the base size? The 1MB? Instead we only check the SerializedSize in BlockDefinition. So setting 'blockmaxsize=' is setting the serialized size.

Is this right?

[2018-07-24 09:41] fassadlr commented on #1194
@Aprogiena Oh yes OK I see now. However, I see that we also use ProtocolException for exceptions in `CoreNode`'s `SynchronizeChain` method:

[code]

I don't know if this is right or even still in use? 😯

@thefazzer you can catch `ProtocolException` when trying to version handshake and  then record (in memory) the amount of `HandshakeAttempts`?

Then when you ask the peer selector for peers you fil

[2018-07-24 10:15] monsieurleberre commented on #1092
Looking at this now
as part of issue https://github.com/stratisproject/StratisBitcoinFullNode/issues/1180 "Staking vulnerability", we will change staking algo to not use coins that have a value lower than 0.1 STRAT. This is a first step in helping to fix the issue.
Another step will probably be to put a cap on the number of UTXOs used, regardless of their value, while favouring bigger coins.

[2018-07-24 10:50] noescape00 commented on #1092
@monsieurleberre after 1180 is done this issue can also be closed.

Not sure if we would need that. Maybe just make threshold value to be configurable but default it to 0.01 or 0.1.

[2018-07-24 11:47] noescape00 commented on #1217
There should be 2 limitations- max serialized size according to protocol (1mb) and the size miner is willing to use (750 000 by default). The last one is always maxed out to 1mb on btc. We don't do that for some reason.

[2018-07-25 01:59] clintm90 opened #1729 "documentation little "problem""
hello boys

just a very little problem at https://github.com/stratisproject/StratisBitcoinFullNode/blob/master/Documentation/getting-started.md

when we git clone the program it's not writed than we must change dir for src/

dirty english ><

[2018-07-25 02:38] clintm90 opened #1730 "Multisig in swagger ?"
Hellow,

Does it possible to generate and manage multisig from the swagger ?

Multisig is a very good point in a cryptocurrency, if it's possible please add it to swagger (unless it already exists)

[2018-07-25 06:22] rowandh opened #1731 "Contract execution should charge validation fee"

[2018-07-25 07:50] damien-r commented on #1698
Hi,
I got the same problem with consecutive if when they are at least 4 case. Example:

[code]

Generates the following error:

[code]

[2018-07-25 09:15] sondreb opened #1732 "Generate developer documentation with DocFX"
I have a suggestion to generate developer documentation from source code, using DocFX. DocFX is a tool by Microsoft that they used to generate their own system documentation. I have used it on many projects with great success, and it becomes a good reference point when you need to look up and learn more about the available types, methods and more.

DocFX also makes it more clear what parts of the

[2018-07-25 13:43] noescape00 commented on #1403
Next step would be checking if DBreeze support DB splitting into several files based on max size of the db file.
The issue is OS specific and can occur when disk is heavily fragmented and target file is large.

[2018-07-25 13:48] noescape00 commented on #1344
This is fixed in ConsensusManagerBehavior which is not yet activated.

[2018-07-25 13:52] noescape00 commented on #1283
The size estimation is for a quick fix which would be using min fee when the blocks are not full.

[2018-07-25 14:51] dangershony opened #1735 "Activation of the 'core way of syncing`"
https://github.com/stratisproject/StratisBitcoinFullNode/pull/1726

[2018-07-25 15:02] dangershony opened #1736 "Write tests for ConsensusManager"
This is a complementary task to this issue
https://github.com/stratisproject/StratisBitcoinFullNode/issues/1322

[2018-07-25 15:15] rowandh opened #1737 "SmartContractsTest and SmartContractsRegTest do not set MaxTimeOffsetSeconds"
StratisMain uses `MaxTimeOffsetSeconds = 25 * 60`. We should consider a similar value.

[2018-07-25 22:40] sondreb opened #1738 "Make the default data directory ("StratisNode") configureable"
**Problem**

When no DataDir is specified in the arguments, a default of "StratisNode" is assumed. It is fairly hard to supply a proper "-datadir" as argument, as this will simply create a folder relative to the launching binaries, and not stored in AppData (Windows).

The "magic" happens in "CreateDefaultDataDirectories", which is private. And it handles various OS platforms and finds the proper

[2018-07-26 06:04] codingupastorm opened #1740 "BlockMaxSize and BlockMaxWeight are stored as long, uint and int. Casts. Everywhere."
We should decide on data type and use it everywhere.

I believe long makes the most sense for these values, as we won't have issues with large numbers in the future (sure, who wants 2GB blocks now, buttttt who knows?), and there are a lot of places that calculations happen with these numbers, so long will be easier to use than ulong.

I have noticed that the 'configuration' seems to only deseraliz

[2018-07-26 10:22] monsieurleberre opened #1743 "Make MinimumStakingCoinValue configurable"
In order to solve https://github.com/stratisproject/StratisBitcoinFullNode/issues/1180, a constant
`public const long MinimumStakingCoinValue = 10 * Money.CENT;` has been introduced.
It would be nicer to have this configurable rather than a constant

This line can currently be seen in PosMinting.cs

Acceptance; this is solved when
- nodesetting or commandLine can be used to change the default (and

[2018-07-26 10:39] monsieurleberre opened #1744 "Make RemoveNodeAddress symmetric to AddNodeAddress"
ConnectionManager.AddNodeAddress adds nodes to the AddNode connection list and to peerAddressManagerlist. Remove node only disconnects an endpoint, and when the endpoint stays in these collections, it will reconnect very quickly.
This is an issue, for instance, in integration tests that try to simulate a reorg by disconnecting nodes and expecting a certain outcome based on that disconnection being

[2018-07-26 11:42] majikandy opened #1745 "Use registered cointype 1 for Stratis testnet (BIP44)"
Currently we use registered cointype 105 for Stratis Testnet but the BIP44 specification says we should be using 1.

https://github.com/satoshilabs/slips/blob/master/slip-0044.md#registered-coin-types

See CoinType.cs as this does contain that definition, but it is not used in the code.

Special attention should be taken with regard to recovering wallets when this is changed to use 1 as any funds

[2018-07-26 11:45] majikandy commented on #1745
On a side note - TSTRAT is now on iancoleman's converter site under the cointype 105.  So that will need a PR too if we change to 1.

[2018-07-26 12:47] majikandy opened #1746 "PR Review levels"
See [Code review Policy](https://github.com/stratisproject/StratisBitcoinFullNode/blob/master/Documentation/codereview-policy.md)

[2018-07-26 13:01] noescape00 commented on #1746
What is this issue? Why several labels for code review?

[2018-07-26 13:03] majikandy commented on #1746
To be able click on a label that is on a PR and it will show this issue, which then has the link directly to the definitions.

[2018-07-26 13:34] #631 closed

[2018-07-26 14:25] ferdeen opened #1747 "Add ActionFilters to web api calls to show or hide calls by network."
In relation to  #1691.

We were trying to stop the Staking type web api calls to be executed when running on the Bitcoin network.

Look into whether it's possible to do this via Actions filters.

So far, trying out the `ActionFilterAttribute`.

Problem we are facing is trying to pass `this.fullNode.Network...` as a parameter to the attribute.   We know that primitive types can only be used with at

[2018-07-27 02:21] rowandh commented on #1362
Progress: #1715, #1716, #1717, #1742

[2018-07-27 03:18] codingupastorm opened #1752 "Smart contract compilation should fail for assemblies without only 1 contract or without a Deploy attribute."
Now that we can compile multiple contracts, we need to ensure that the contract the developer wants to be deployed is always the one deployed.

To make this happen, the Deploy attribute must be on one class, or there has to only be one class, or compilation should fail.

This will avoid situations where the contract that is deployed is not what was intended, which would obviously be problematic.

[2018-07-27 03:45] codingupastorm opened #1754 "Gas should be metered separately for internal contract calls."
Inside `InternalTransactionExecutor` when we make a Create or TransferFunds contract call, we should be creating a new GasMeter instance and injecting that into the virtual machine.

Currently it always uses the meter from the initial contract call.

This way smart contract developers can declare how much gas they want to allow to be used in a internal call / create.

[2018-07-27 04:49] codingupastorm opened #1755 "[SC] Reuse smart contract assemblies or unload to avoid memory leak."
Currently we load assemblies into the node application every time we are executing a smart contract. However, these assemblies aren't tracked, and we discard the reference to them after getting the type that we need.

Instead, assemblies should be stored in some kind of in-memory dictionary that we can access, and decide whether we can access this stored assembly or need to create an assembly from

[2018-07-27 06:43] #1397 closed

[2018-07-27 11:05] #1690 closed

[2018-07-27 15:11] #1744 closed

[2018-07-27 15:12] #1092 closed

[2018-07-27 17:04] #1685 closed

[2018-07-28 20:01] noescape00 opened #1761 "Missing RPC methods"
Currently we implement 16 RPC methods

BTC core supports 58: https://en.bitcoin.it/wiki/Original_Bitcoin_client/API_calls_list

I think we should implement the rest of them (except for those that deal with non-HD wallet or with features we don't have).

[2018-07-29 00:35] TjadenFroyda commented on #1747
Replying on this issue vs the closed PR. Happy to give it a try.

Thinking out loud - this might work and will submit PR if successful:
I think I'll be able to get the network inside AddControllers with:

var network = services.GetService<Network>();

And then add filtering logic from there on line 23 with network.Consensus.IsProofOfStake (as opposed to hardcoding network names) to remove the resp

[2018-07-29 16:33] mikedennis commented on #1555
Also in GetData for btc core there is some logic to not relay transactions from mempool if they weren't inv'd from a mempool request. It doesn't look like we've implemented this logic in our version. Let me know if this feature is a priority.

[code]

[2018-07-30 09:28] codingupastorm opened #1766 "[SC] Smart contracts should use the same versions of .NET as the Full Node."
Currently all non-smartcontracts features are .NET Standard 2.0 whilst smart contracts ones are .NET Core 2.1. We should move all the features to .NET Standard 2.0 and ensure that the daemons are congruent with what the full node is doing too.

We will likely want to go live for SC with .NET Standard 2.0 on all libraries and .NET Core 2.1 as the node / daemon as it is an LTS release.

[2018-07-30 10:15] nathanielcook commented on #1697
Yes, on both. I will DM you on Twitter if that's ok.

[2018-07-30 10:17] codingupastorm commented on #1697
Sounds good!

[2018-07-30 10:17] #1697 closed

[2018-07-30 11:19] noescape00 opened #1768 "[CoinView] steps needed for core way of syncing activation"
Following changes are required for the activation:

1) Ensure rewind data is not aggregated (1 block per rewind data) while still saving those in batches.
2) Remove some fields from rewind data that we can get from the block being disconnected.
3) Change signaling from Block to ChainedHeaderBlock.
4) Update CM tests to test the new logic.

[2018-07-30 11:24] dangershony commented on #1768
This means no backwards compatibility to existing store right?

[2018-07-30 23:48] #1217 closed

[2018-07-31 10:48] sondreb commented on #1561
I think this problem means that in an instance where multiple nodes have issues connecting to the DNS seed nodes, and doesn't already have a peers list cached locally, nodes won't be able to connect and start sharing data. Starting up 4 nodes locally (different ports), they will all attempt to connect and then fail.

If I modify the Addresses property of the AddrPayload, with the following, then a

[2018-07-31 13:00] codingupastorm opened #1776 "We may be able to cache transaction fees and input values on the Transaction object."
Currently the `Transaction` class doesn't contain any easy way to access the fees and input amounts, even when it has been calculated or accessed previously. Instead you must call `GetFee()` or a similar method, and provide a kind of current coin database just to work out the values of the Transaction's inputs, and hence its fees etc.

This is a proposal to have some extra properties on the Transa

[2018-08-01 09:16] dangershony commented on #1396
@maciejzaleski team will take over this task after TB release.

[2018-08-01 11:45] #1648 closed

[2018-08-01 13:44] noescape00 opened #1787 "Create Proven Header Payloads"
Create ProvenHeader class which will inherit from BlockHeader.
Add following payloads:

_provhdr_ - ProvenHeadersPayload which contains list of up to 2000 proven headers.

_sendprovhdr_ - SendProvenHeadersPayload which informs the peer that we are only willing to sync using the proven headers and not the old type of headers.

_getprovhdr_ - GetProvenHeadersPayload which requests proven headers usi

[2018-08-01 13:45] noescape00 opened #1788 "Implement handling of new protocol version."
At this point processed them as normal headers + add tests.

[2018-08-01 13:46] noescape00 opened #1789 "Move coin view to the base feature."
And possibly move consensus to base since even light wallet now ill have consensus, just a light version

[2018-08-01 13:47] noescape00 opened #1790 "Rule to verify UTXO spent on another chain + Tests."
forkPoints data structure is a key-value storage where key is a TxId + N (N is an index of output in a transaction) and value is a rewind data index. This data structure will always contain as many entries as there are rewind data instances in the database (currently we do not delete old rewind data that is no longer needed but after the issue #5 is fixed we should also make sure that old fork poi

[2018-08-01 13:48] noescape00 opened #1791 "Create proven headers rules and add to POS Network class + Test"
Also consider issue #979.

[2018-08-01 13:48] noescape00 opened #1792 "Create validator class for proven headers and make Consensus Manager use it. + Tests."
1. Add new logic to the chain tree: proven headers should be validated for up to coinstakeAge headers from the fork point.
2. If we advance consensus on the same chain we should check if there are any headers withing the coinstakeAge from the consensus tip and if there are- validate them.

[2018-08-01 13:49] noescape00 opened #1793 "Enable synching from whitelisted nodes"
Enable synching using old headers only from whitelisted nodes (stratisX)

[2018-08-01 13:49] noescape00 opened #1794 "Make light wallet use coinview."

[2018-08-01 13:49] noescape00 opened #1795 "Create light validator of blocks for light wallet. +Tests."

[2018-08-01 13:50] noescape00 opened #1796 "Introduce consensus reorg global lock."

[2018-08-01 13:50] noescape00 opened #1797 "Delete concurrent chain."

[2018-08-01 15:07] dangershony commented on #1789
I am not sure this is correct to do this, lets discuss before starting on this.

[2018-08-01 16:22] fassadlr opened #1802 "[PeerAddressManager] Investigate applying failed handshake filtering on inbound connections."
This relates to #1767 . Please see discussion whether we should also filter peers based on failed handshake attempts on inbound connections.

[2018-08-01 17:05] rowandh opened #1803 "Roundtripping uint to Target does not return same value"
This test fails:

[code]

[2018-08-02 04:31] TjadenFroyda commented on #1747
The above didn't work, but found something that did (see below). Wrote some integration tests to prove that calling staking methods from a pow node (and vice versa) fails appropriately. Will submit PR when done, waiting for ITs to finish running.

Proof of Stake Consensus: Mining methods removed. (staking still present)
![image](https://user-images.githubusercontent.com/38709281/43561136-2ead4cc2-

[2018-08-02 09:55] #1363 closed

[2018-08-02 09:59] #1336 closed

[2018-08-02 10:32] #637 closed

[2018-08-02 11:22] dangershony opened #1807 "Implement BlockMined method"
As defined here
https://github.com/stratisproject/Research/blob/master/CoreSyncingAndProvenHeaders/ConsensusManager.txt#L107

[code]

[2018-08-02 11:23] dangershony opened #1808 "Improve Puller on activation branch"

[2018-08-02 11:23] dangershony opened #1809 "Blockstore Behaviour"
A fix was required for the activation branch details with @noescape00

[2018-08-02 11:24] dangershony opened #1810 "Ensure rewind data is not aggregated"
Ensure rewind data is not aggregated (1 block per rewind data) while still saving those in batches

Discussion here
https://github.com/stratisproject/StratisBitcoinFullNode/issues/1768

[2018-08-02 11:25] dangershony opened #1811 "Rewind method should accept blocks being disconnected."
Details here
https://github.com/stratisproject/StratisBitcoinFullNode/issues/1768

[2018-08-02 11:25] dangershony opened #1812 "Remove some fields from rewind data"
Remove some fields from rewind data that we can get from the block being disconnected
Rewind method in coinview should accept blocks being disconnected.

Change rewinding process so it takes the block and gets info that will be removed from RewindData from the block being disconnect.

Implications:
What if coinview is ahead of block store and we can't rewind properly because we don't have data abo

[2018-08-02 11:26] dangershony opened #1813 "Change signaling from Block to ChainedHeaderBlock"
https://github.com/stratisproject/StratisBitcoinFullNode/issues/1768

Can be done at same time as #1814

[2018-08-02 11:26] dangershony opened #1814 "Signal on block disconnected in ConsensusManager"
Signal on block disconnected in ConsensusManager when block is disconnected and use new Rewind method that accepts blocks that are being disconnected.

https://github.com/stratisproject/StratisBitcoinFullNode/issues/1768

[2018-08-02 11:46] noescape00 commented on #1809
Details:

BS Cache usages should be removed, instead BSQ should implement functionality to allow accessing pending storage when we are getting the blocks.

[2018-08-02 14:02] thefazzer opened #1816 "[PeerAddressManager] Reset counter to 0 after Threshold expired"
- Handshake counter does not get reset to zero until a successful handshake occurs.
- Handshake counter should get reset after threshold time expires.

[2018-08-02 14:07] bokobza commented on #1555
Closed with https://github.com/stratisproject/StratisBitcoinFullNode/pull/1649

[2018-08-02 14:07] #1555 closed

[2018-08-02 14:25] noescape00 opened #1817 "Second testnet for stress testing"
This task may take ~1-2 months

[2018-08-02 14:27] noescape00 opened #1818 "Mempool initialization speed"
Node takes forever to initialize with non-empty mempool (max size is 300mb. With just 2 mb it takes 10-15 minutes to launch)

[2018-08-02 14:28] noescape00 opened #1819 "Wallet is slow with large amount of UTXOs"
Wallet can't create and sign more than 3-5 txes per minute given that it has >2000 UTXOs (1-2 week)

[2018-08-02 14:29] noescape00 opened #1820 "local js attack on API"

[2018-08-02 14:30] noescape00 opened #1821 "Review consensus rules"

[2018-08-02 14:30] noescape00 opened #1822 "Go through all BTC CVE"

[2018-08-02 14:31] noescape00 opened #1823 "Test the node after feature freeze"

[2018-08-02 15:55] #1194 closed

[2018-08-02 15:58] #1362 closed

[2018-08-02 15:59] #1686 closed

[2018-08-02 16:00] #1216 closed

[2018-08-02 16:00] #1322 closed

[2018-08-02 16:11] noescape00 commented on #1322
@bokobza not sure if we should close those issues till the activation is merged.
After it's merged we will go over the issues and recheck if everything is implemented.

[2018-08-02 18:16] dangershony commented on #1810
The issue I have here is that in order to reorg we will need to have blocks available.
Can we guarantee that? what if we dont have blocks available we need to delete the entire store (or alternatively download form a peer).

[2018-08-02 23:45] codingupastorm commented on #1689
Hey @bokobza the PR is still open. If you're happy with the changes want to merge it? I made a last little refactor and dropped a comment on the PR too, it should help you out a bit!

Thanks

[2018-08-03 00:26] codingupastorm opened #1830 "[SC] Serialization of method parameters should be simpler."
When sending parameters in to a method inside of a transaction, we should just send them in string form, rather than the current form that prefixes the items with a number etc.

When working out which method to call, use the parameters on the class via reflection to work out which types to deserialize to.

If ambiguous, should just select the first one. This is a risk we will warn developers of at

[2018-08-03 00:30] codingupastorm opened #1831 "[SC] Implement Fallback functions"
If a smart contract is called without a method being specified, its fallback should be invoked.

The fallback should be declared via an attribute on a method.

I believe we have more info available on our internal design rationale.

[2018-08-03 00:33] codingupastorm opened #1832 "[SC] Insert stub contract selfdestruct method"
In version 1 we have decided we won't be able to kill contracts. This is a difficult decision but we are able to justify it via our internal design rationale.

However, should we decide to change this functionality in the future, we will want a stub 'Kill()' method, so that we can easily update the rules on the nodes behind the scenes without needing to update the API of our Stratis.SmartContracts

[2018-08-03 00:36] codingupastorm opened #1833 "[SC] Ability to create contracts inside code of contracts."
There's not yet a complete API for creating other contracts in code.

Implement the ability to do so, with specs for how it should work.

In progress by moi

[2018-08-03 00:39] codingupastorm opened #1834 "[SC] Miner shouldn't add SC transactions to block if the generated transactions or gas refunds will push the block size over the limit."
As title.

Interesting edge case.

[2018-08-03 00:43] codingupastorm opened #1835 "[SC] Restrict ScriptPubKey formats allowed on SC network."
At the moment the only allowed transaction types should be smart contracts and P2PKH.

Other transaction types will limit our capacity to reach the 'sender' address, and the functionality should be provided by SC anyhow.

[2018-08-03 00:51] codingupastorm opened #1836 "[SC] Nested mappings and lists"
We need to allow:

* Lists of all the allowed types (including structs)
* Mappings of all the allowed types (including structs)
* Mappings of lists of all allowed types (including structs)
* Structs may themselves contain mappings and lists.

In progress...

[2018-08-03 00:59] codingupastorm opened #1837 "[SC] Need to store receipts for all smart contract execution"
More details in design rationale.

[2018-08-03 01:06] codingupastorm opened #1838 "[SC] Start Proof of Stake test network"
Implement Proof of Stake integration tests then deploy new network.

[2018-08-03 01:11] codingupastorm opened #1839 "[SC] Track gas for memory - AKA ensure OutOfMemoryExceptions are virtually impossible."
The gas tracking code currently definitely counts instructions, and persistent storage, however we're unsure how well it currently accounts for memory. It definitely has to expend some gas to save things to memory (instruction costs) so we need to try storing large amounts of data in memory and ensure that a significant cost is incurred for doing so.

[2018-08-03 09:58] bokobza commented on #1735
Closing as this is replaced with the tasks with the `Activation` label.

[2018-08-03 09:58] #1735 closed

[2018-08-03 11:29] #1423 closed

[2018-08-03 11:49] noescape00 opened #1845 "Move block store to Stratis.Bitcoin"
Move block store to Stratis.Bitcoin because it's going to become a mandatory component and we would just implement pruning instead of not using a feature

[2018-08-03 13:23] noescape00 opened #1847 "NodeSettings is initialized 3time"
Conditions to reproduce:
clean build directory, clean databolder folder in appdata, open solution in VS and hit F5 (stratisD as default startup project).
After that NodeSettings cpnstructor will be called 3 times

[2018-08-03 14:44] bokobza commented on #1816
Fixed with https://github.com/stratisproject/StratisBitcoinFullNode/pull/1827

[2018-08-03 14:44] #1816 closed

[2018-08-03 14:45] bokobza commented on #1180
Fixed in https://github.com/stratisproject/StratisBitcoinFullNode/pull/1769

[2018-08-03 14:45] #1180 closed

[2018-08-03 15:19] majikandy opened #1848 "Addnode/connect should override a peer ban?"
Perhaps in PeerBehavior.cs  (which incidentally could do with a rename to PeerBehaviour)....

we could check if not whitelisted as well... `&& !whitelisted`

[code]

[2018-08-04 02:39] codingupastorm opened #1849 "[SC] Foreach loops fail determinism due to enumerator and try finally under the hood."
Hey @rowandh @fassadlr remember this conversation?

I'm wondering if we can explicitly allow foreachs through or if that could be too dangerous? In the case of a foreach the only thing inside of the finally will be the .Dispose() of the enumerator, so it would be okay, unless there was any way to get around this. Do we need to investigate?

If we decide to disallow them entirely that's fine as wel

[2018-08-04 09:26] rowandh opened #1852 "[SC] MockChain_AuctionTest fails to parse fee in different cultures"
Cultures that use a different decimal separator are potentially causing this test to fail when attempting to parse the fee value

[2018-08-05 15:44] noescape00 commented on #1807
@fassadlr yes, that's correct.

[2018-08-06 10:30] herbepau opened #1858 "Stratis.BitcoinD bombing-out with null reference at CachedCoinView.EvictAsync()"
My Bitcoin fullnode (Stratis.BitcoinD) more than occasionally bombs-out.  I'm not doing anything in particular when this happens i.e. I'm not interacting with a wallet UI etc.

The crashing seems to occur consistently after about 10 mins of running, although that's not a definite.

This code is running from master.

![image](https://user-images.githubusercontent.com/6311304/43711577-1e8b8a6e-996b-

[2018-08-06 10:56] monsieurleberre opened #1859 "Template Issue - Bug"
# Steps to reproduce

1. A DNS node has a peer's address in its Masterfile.json
2. The peer gets banned for sending a bad block of some sort
3. The peer does not get removed from the DNS node masterfile.json
4. If the DNS node gets restarted, the banned peer is still presented as a seed node

## Context
This happened in Testnet and created a fork of more than 500 blocks because some of the seeders

[2018-08-06 10:57] #1859 closed

[2018-08-06 10:58] mikedennis commented on #1818
@noescape00 were you on stratis or bitcoin network? Just tried with bitcoin testnet and it seemed reasonably fast (a few seconds) with this size of mempool:

MempoolSize: 1216 DynamicSize: 1187 kb OrphanSize: 100

[2018-08-06 12:03] noescape00 commented on #1810
More info on the issue:

How it currently works:
When new block is connected changes that his block has introduced are commited to the CachedCoinView. After some time those changes are flushed- a new rewind data instance is created. This instance might combine changes for many blocks. In IBD one rewind data might have 2000 blocks worth of changes.
When we try to rewind cosnensus we can't go 1 bloc

[2018-08-06 12:48] bokobza commented on #1822
This task can be divided into 2 parts:
1. Create a list of known bitcoin vulnerabilities
2. check whether the source code has protection mechanism against each and every one of those vulnerabilities

Also, for each vulnerability, add comments supporting your findings.

[2018-08-06 13:00] Aprogiena commented on #1822
![image](https://user-images.githubusercontent.com/30052221/43717951-0ce0ce30-9981-11e8-86e3-0c87c3f27af0.png)

[2018-08-06 13:26] bokobza commented on #1822
CVE-2012-4684 We don't have alerts anymore so that's easy ✔️

[2018-08-06 13:32] #1550 closed

[2018-08-06 13:41] noescape00 commented on #1818
I got those problems running on stratis testnet. I had bunch of big txes (1 input, 500 outputs), some of them were ancestor txes.

Txs type might affect the speed of AcceptTxToMempool execution big time.

Basically what we are looking for is the setup where we have the heaviest type of tx that is withing the standard tx policy. Fill 5-10% of mempool (15-30mb) and check loading speed.
I think targe

[2018-08-06 14:45] DanGould commented on #1822
@Aprogiena Where is that list coming from? [bitcoin.it wiki's lost](https://en.bitcoin.it/wiki/Common_Vulnerabilities_and_Exposures) seems comprehensive

[2018-08-06 15:26] Aprogiena commented on #1822
https://youtu.be/Cpid31c6HZc?t=2h52m33s

[2018-08-06 16:17] #1847 closed

[2018-08-06 16:28] bokobza commented on #1743
Closed with https://github.com/stratisproject/StratisBitcoinFullNode/issues/1743

[2018-08-06 16:28] #1743 closed

[2018-08-06 17:01] monsieurleberre opened #1862 "Try to isolate responsibilities from the ConsensusManager"
Part of #1736

This class is currently doing a few too many things, as a first cut I see 2 groups responsibilities that lay themselves well for separation

First group is
- download and request blocks

Second group something like
- validate chains / headers
- select tip candidates
- rewind/reconnect chains

#### Acceptance Criteria:
This is done when we have extracted a class and its interface, of

[2018-08-06 18:32] mikedennis commented on #1818
Ok sounds good. I'll see if I can write a quick test to reproduce then see if I can find where the bottleneck is.

[2018-08-07 00:37] mikedennis commented on #1818
### Initial test - Running on Stratis Regtest POW
2000tx with 500 outputs each
=======Mempool=======
MempoolSize: 2000 DynamicSize: 68637 kb OrphanSize: 0
- Took about ~3 minutes to load and get added to mempool
- These are simple tx's, no ancestors outputs to all new wallets

So next will try some more complex tx's as it looks like it's not IO but more likely something to do with the tx makeup.

[2018-08-07 04:33] codingupastorm commented on #1754
Building on this: The default amount of gas to be supplied should start at `(BaseFee * 2) - 1` as this allows some computation inside contract calls, without allowing the contract to start calling more contracts (or to re-enter).

Discuss this part before implementing.

[2018-08-07 06:41] codingupastorm opened #1864 "[SC] New contract addresses should be derived from the transaction id concatenated with a counter."
Subtask for #1833

To create multiple contracts inside of a single transaction call, we need to be able to get the address from `Keccak(txid + counter)` where counter is incremented for each new contract inside this transaction. It's currently only `Keccak(txid)`.

[2018-08-07 09:04] majikandy commented on #1263
In order to avoid in flight data compromise
As an api consumer
I want all requests over https with a trusted certificate

*feature complete when*
- http calls return 307 temporary redirect
- all api calls require https
- a valid certificate is used
- api is on https on docker too (edited)

First Reviewer  @monsieurleberre
Second Reviewer (merger) @bokobza
(please thumbs up this if you approve the

[2018-08-07 12:55] fassadlr commented on #1862
@monsieurleberre I'm reopening this as I feel that `ConsensusManager` can still be looked at some point to extract some logic as it is a massive class sharing too many responsibilities.

[2018-08-07 12:55] monsieurleberre commented on #1820
this should be resolved when https://github.com/stratisproject/StratisBitcoinFullNode/issues/1263 is resolved

[2018-08-07 12:57] monsieurleberre commented on #1820
more details from a discussion with @noescape00
[code]

[2018-08-07 13:37] noescape00 commented on #1818
Looks like they are loading quite fast for you.
I wonder if something changed in the mempool that allowed them to be processed faster or it's just different tx type.

If you won't encounter issues with the ancestor txes then it's probably not an issue anymore and was optimized at some point.

[2018-08-07 20:46] mikedennis opened #1871 "Port uint256 serialization improvement from nbitcoin"
Improve perf of uint256 serialization if span is supported.
https://github.com/MetacoSA/NBitcoin/commit/8864a47aaf22f11769d65ade609d38d18f90faa7

span should be present in .net core 2.1

[2018-08-08 02:26] #1864 closed

[2018-08-08 08:12] codingupastorm opened #1876 "[SC] When using TransferFunds, have a means to send all remaining gas."
When using TransferFunds, I want to be able to send a request and use all remaining gas.

* Do we need AvailableGas exposed for all smart contract devs so they can put it here? If we have it exposed, we need devs to be aware that it is updated per-block-of-code.
* We could also instead make it so that if the gas amount given is > the maximum, it will just use all avaialble gas rather than throwing

[2018-08-08 08:41] Aprogiena commented on #1871
Is this not available only in unsafe code?

[2018-08-08 09:35] noescape00 commented on #1809
done on activation branch

[2018-08-08 09:35] #1809 closed

[2018-08-08 09:35] noescape00 commented on #1808
done on activation branch

[2018-08-08 09:35] #1808 closed

[2018-08-08 09:38] noescape00 commented on #1809
fixed in #1824

[2018-08-08 09:38] noescape00 commented on #1808
fixed in #1824

[2018-08-08 09:56] noescape00 opened #1877 "[Activation] List of issues to resolve"
Those are the issues that are needed to be done in order to finish work on activation (besides ones that are already created and marked with `Activation` label)

_I'll be constantly updating this list._

1. **[MERGED]** Add max limitation on amount of blocks asked from puller besides the mb size limitation
PR: #1878

2. **[MERGED]** BlockStoreBehavior - fix todos that are left for activation
PR: #

[2018-08-08 14:57] mikedennis commented on #1871
I believe its safe and managed.  Here's a good article I found on it https://msdn.microsoft.com/en-us/magazine/mt814808.aspx
I think very useful tool for low level stuff and should make porting some C++ bitcoin stuff a bit easier.

[2018-08-08 15:34] mikedennis commented on #1818
Tried ancestor transactions as well and still only was a couple of minutes to load with a large tx set. I have an SSD drive so maybe that's masking it a bit, or maybe I just haven't come up with the tx set that is a problem.

I think what I will do next is add some trace logging around mempool as there is hardly any present right now so makes it tough to troubleshoot problems like these if someone

[2018-08-08 17:40] Aprogiena commented on #1871
Thanks, I will read that

[2018-08-08 22:17] noescape00 commented on #1818
Thanks for detailed feedback and good investigation.

Looks like it's not an issue anymore and was fixed at some point since the issue was first discovered 4-6 months ago.

Feel free to close the issue.

[2018-08-09 01:37] #1754 closed

[2018-08-09 02:40] rowandh opened #1880 "ConsensusFactory should generate POW blocks up until Consensus.LastPOWBlock"

[2018-08-09 02:46] #1737 closed

[2018-08-09 04:26] noescape00 commented on #1103
@dangershony why was it XL? it's 6 hours of work tops.  Worst case scenario- 3 days.

[2018-08-09 05:21] noescape00 opened #1884 "Merge NBitcoin with Stratis"
We wanted to do that forever. Let's finally have an issue for that.
We can start by just changing namespaces and moving stratis.bitcoin code to base feature. Refactor it later when we have time.

[2018-08-09 06:46] rowandh opened #1885 "[SC] Compile contracts against reference assemblies"
Currently we compile against runtime assemblies. As our API standardizes we will want to include reference assemblies and compile against those to ensure all contracts run against the same set of libraries.

[2018-08-09 07:06] DanGould commented on #1822
Progress thus far noted: Should be through most of the bitcoin list by the weekend. Still must check in on the Etherium CVEs. I will update this comment with the status of the CVEs
| CVE                                                                                            | Affects                          | Flaw                                                  | Comments

[2018-08-09 10:00] thefazzer commented on #960
From @Aprogiena and @noescape00:

We think it should be implemented in SelfEndpointTracker
Interface should be extended.

There should be a property `MyExternalAddres` and it will be constant in case we initialized the node with ExternalIp set. In case it wasn't specified this property is null unless many peers send us the same address claiming it's ours (only outbound peers).
there will be score

[2018-08-09 10:39] kogot commented on #1294
Hey guys, I discovered, that if while staking we send transaction. Its stops staking by set `this.rpcGetStakingInfoModel.Staking = false`. That param stops node staking, and even if you try to start staking again, it won't start cause "currentStatus" hasn't been changed, so node still thinks that it's staking.
And as a result, GetStakingInfo returns incorrect weight.

BTW if you stop staking it wi

[2018-08-10 00:51] codingupastorm opened #1892 "Shouldn't be able to create a node with PoS consensus and PoWConsensusFactory"
The errors one gets when using non-matching consensus features (set using the FullNodeBuilderExtensions) and factories (set inside the Network) are unpredictable and may be null reference exceptions, or DI failures etc.

In the long-term I understand Consensus will be moved out of Features, but in the near-term if people are going to use the builder we may need to do an Assert inside the FullNodeB

[2018-08-10 03:10] rowandh opened #1893 "Mark integration tests that are expected to fail with Skip attribute"
There are currently some integration tests in master that are known to fail.

We should mark these with the Skip attribute to make it easier to determine whether or not all relevant integration tests have passed. Also prevents us wasting time running failing tests.

Tests that seem to be known failures that are consistently ignored:
* AddNewAccount_for_xpub_only_wallet_informs_user_to_create_new_w

[2018-08-10 10:51] bokobza commented on #1807
Fixed with https://github.com/stratisproject/StratisBitcoinFullNode/pull/1870

[2018-08-10 10:51] #1807 closed

[2018-08-10 13:55] Aprogiena commented on #1871
@mikedennis wow, that was an amazing read, thank you

[2018-08-10 17:07] bokobza commented on #1848
I can see that in PeerBanning.BanAndDisconnectPeer(), we're already not banning whitelisted items.
https://github.com/stratisproject/StratisBitcoinFullNode/blob/17b5e3d33799ed5079c019ff382d2191f58bc795/src/Stratis.Bitcoin/Connection/PeerBanning.cs#L72-L81

but in PeerBanningBehavior (not PeerBehavior as the issue states), we're not checking for whitelisting:

https://github.com/stratisproject/Stra

[2018-08-13 07:48] codingupastorm opened #1907 "Unit tests for transferresultprocessor and transaction condenser"

[2018-08-13 16:02] sondreb opened #1912 "API: Extend the blockstore/block to retrieve full transaction details"
The current blockstore/block API method only returns transaction hash, even though the complex type is already populated with all the transaction details from the block store.

To reduce the amount of queries needed to show blocks and the transactions for local API clients, I propose that the block method includes a boolean property (query) named "Verbose" that can be set to include transaction de

[2018-08-14 03:27] mikedennis opened #1916 "Mempool accepts orphans when not fully synced"
It's more of an annoyance than anything else.

The orphans have a item cap so it doesn't necessarily do anything bad but it fills your console with messages like below which probably just slows things down.

info: Stratis.Bitcoin.Features.MemoryPool.MempoolOrphans[0]
      stored orphan tx c88ac1ecbbcbfcb496c72e06cea33ecee272f8bb64e39f12b4472d201285ad9d (mapsz 101 outsz 101)
info: Stratis.Bitcoin.

[2018-08-14 10:30] ferdeen commented on #1820
[Enabling CORS](https://docs.microsoft.com/en-us/aspnet/core/security/cors?view=aspnetcore-2.1)

![image](https://user-images.githubusercontent.com/16000683/44086762-7d8141d0-9fb5-11e8-9e6f-856f0c20148c.png)

[2018-08-14 11:09] monsieurleberre commented on #1820
Thanks for the input guys! I will have a look now, this is not my forte but I am very interested to learn :)

[2018-08-14 12:06] Aprogiena commented on #1820
the scenario is that you visit a malicious website which contains a JavaScript, which will connect to the API of your wallet and execute the command

[2018-08-14 12:15] Aprogiena commented on #1820
If I remember correctly, the browser will allow the JavaScript to invoke a call to arbitrary URL, but it will prevent the JavaScript to read the response from the target server. Therefore, if we make sure that all GET methods are strictly used for querying only (which means that you are unable to change any state by calling them), which I believe we already do have it like that, it should just pro

[2018-08-14 12:17] Aprogiena commented on #1820
Alternative solution would be to do CSRF tokens as mentioned above.

[2018-08-14 12:17] Aprogiena commented on #1820
But please verify what I wrote, I could have been mistaken

[2018-08-14 15:38] #1294 closed

[2018-08-14 16:37] bokobza commented on #1818
Closed with https://github.com/stratisproject/StratisBitcoinFullNode/pull/1915

[2018-08-14 16:37] #1818 closed

[2018-08-14 18:33] zeptin commented on #1131
The underlying problem does not seem to be easily reproducible.

`-connect=0` gets caught as an unroutable IP address, and so is never added to the Peers list (the list is therefore empty).

The async loop inside the `-connect` connector therefore never executes OnConnectAsync and no connections get attempted.

Next I tried adding just a routable always-offline IP address via `-connect`. Now OnCon

[2018-08-14 19:29] bokobza commented on #1103
The first part is done with https://github.com/stratisproject/StratisBitcoinFullNode/pull/1890.
The rest will be dealt with when the activation stuff is in.

[2018-08-15 02:12] mikedennis commented on #1131
I've been unable to reproduce this either but I think I understand what danger and noescape are saying regarding burst mode.

I believe this bit of code in PeerConnector.cs does the burst:
[code]

I think what they are saying is make the ```await this.OnConnectAsync().ConfigureAwait(false);``` for -connect and -addnode connectors a bit more intelligent so they don't hammer the same unresponsive no

[2018-08-15 03:29] mikedennis commented on #1916
As far as I can tell this is the same behaviour as bitcoin. It relies on the orphan item cap to keep orphans from getting out of control while syncing.

So not sure anything to do here. Closing issue.

[2018-08-15 03:29] #1916 closed

[2018-08-15 03:34] rowandh commented on #1766
See #1885 for why this is difficult at the moment.

[2018-08-15 06:10] codingupastorm opened #1920 "[SC] Smart contracts shouldn't compile via the Sct tool if their constructor is private or protected."
Contracts can't be instantiated if their constructors aren't public, so we need to give users an error if they try to deploy a contract with these characteristics

[2018-08-15 06:14] codingupastorm opened #1921 "[SC] Contracts shouldn't be able to be instantiated in code via their constructors."
Contracts being instantiated in code via their constructors is nonsensical - contracts should only be created via the `.Create<>` method on the `SmartContract` class, which will create them in persistent storage permanently.

We should likely prevent this in the Format Validator.

[2018-08-15 08:16] Aprogiena commented on #1131
In general, The task here is to analyse all possible execution flows inside of this async loop. We can clearly see that the if branch is somewhat safe because it just causes two second delay and cannot therefore exhaust CPU. However if it is not taken, onconnectasync is called and if such a call completes immediately the next iteration of the loop will follow immediately. Therefore, if no state is

[2018-08-15 08:26] zeptin commented on #1131
Guys, while I appreciate that you took the time to feed back on this, you are essentially re-iterating what I said already.

@Aprogiena Do you think that enforcing a minimum delay between connection attempts to the same node would be a good way of resolving this? That should be a minor code change, as we already have the last attempt timestamp stored. It seems to me that this will catch both known

[2018-08-15 08:48] Aprogiena commented on #1131
I think that in case we failed to connect, we should remember this and don't try to connect for some time, possibly with exponential back off. After certain number of attempts, we should not even try again.

So basically what we do elsewhere, but we should implemented for all connection attempts. I'm not familiar with the reason, why the mechanisms we have are not applied here.

So yes, some kind

[2018-08-15 09:40] fassadlr commented on #1862
This is a continuation on the discussion in PR #1911.

@noescape00 My idea with the visitor pattern was to isolate parts of CM so that we can individually test them. A good example would be `BlockMined`.

@dangershony mentioned that the biggest role of CM is to ensure that locks are taken when changes are made to the CHT. So this is very good use case. If my understanding is correct, we don't want

[2018-08-15 09:57] dangershony commented on #1862
Hi guys the tests for CM will be pushed as last task, I am also not completely happy with CM itself and the amount of responsibilities it has, essentially CM should actually be a ConsensusScheduler or ConsensusSynchronization and be the place where all synchronization with the consensus advancement will take place (as Fassa suggested downloading blocks can happen in another interface.
The reason t

[2018-08-15 10:09] Aprogiena commented on #1862
@dangershony I highly suggest we finish the component and make it working and secure before we think about splitting responsibilities. Most importantly we need the component working, everything else is just nice to have. It does not matter if the tests are closely bound, if they help us verify the implementation, it is exactly what we need.

[2018-08-15 10:15] Aprogiena commented on #1862
@fassadlr Why?

[2018-08-15 12:54] zeptin commented on #1893
Note that `AddNewAccount_for_xpub_only_wallet_informs_user_to_create_new_wallet_` and `CreateExtPubKeyOnlyWallet_creates_wallet_with_extra_flag` are failing because of a trivial bug in ApiSteps.cs.

[2018-08-15 12:57] #1848 closed

[2018-08-15 12:58] rowandh commented on #1893
@zeptin OK, did not know that. What is the bug?

[2018-08-15 13:04] bokobza commented on #1912
Done in https://github.com/stratisproject/StratisBitcoinFullNode/pull/1913

[2018-08-15 13:04] #1912 closed

[2018-08-15 13:07] bokobza commented on #1747
Solution implemented in https://github.com/stratisproject/StratisBitcoinFullNode/pull/1842

[2018-08-15 13:07] #1747 closed

[2018-08-15 13:32] zeptin commented on #1893
A missing value when instantiating a `WalletExtPubRecoveryRequest`:
https://github.com/stratisproject/StratisBitcoinFullNode/pull/1760/files/d2fe96fbf5350f64cbcfc553bfeeca633ec6986c#diff-7486e7b637d07113c405e5dbc9a66418R264

[2018-08-15 13:38] bokobza commented on #1738
@sondreb if you set a full path then there is no problem:
`dotnet run -datadir=mydatadir` will save the data in "_binariespath_\mydatadir\stratis\StratisTest"

`dotnet run -datadir=C:\mydatadir` will save the data in "C:\mydatadir\stratis\StratisTest"

Only when -datadir is not supplied do we have "AppData\StratisNode\stratis\etc".

Your idea is that setting `-datadir=mydatadir` should set "AppDat

[2018-08-16 02:55] rowandh commented on #1893
Nice work, we probably don't need to worry about skipping those for much longer then.

[2018-08-16 05:32] codingupastorm opened #1932 "[SC] Test and specs for what happens when sending funds to a contract address that doesn't exist, both from a transaction and internally."

[2018-08-16 12:25] noescape00 commented on #1812
Removed from activation per discussion with @dangershony and @Aprogiena

[2018-08-16 12:27] noescape00 commented on #1811
Merged this issue with https://github.com/stratisproject/StratisBitcoinFullNode/issues/1812 and removed from activation.

[2018-08-16 12:28] #1811 closed

[2018-08-16 12:30] bokobza commented on #1822
![image](https://user-images.githubusercontent.com/1867877/44205778-790a3300-a14f-11e8-9548-cb65bdee3b37.png)

The wallet encrypts the private key of the HD wallet using `Key.GetEncryptedBitcoinSecret(password, network)` in NBitcoin who in turn uses `SCrypt.BitcoinComputeDerivedKey` which is an implementation of BIP38.

[2018-08-16 12:53] noescape00 opened #1934 "[Activation] PowBlockDefinition - ensure we are calling validator correctly"
There is a TODO in PowBlockDefinition.cs, fix it

[2018-08-16 13:48] noescape00 opened #1936 "[Activation] fix failing tests"
fix unit tests on activation branch.
this issue can be assigned to multiple developers

[2018-08-16 13:48] noescape00 commented on #1936
@fassadlr is working on integration tests

[2018-08-16 13:49] noescape00 opened #1937 "[Activation] tests for consensus manager"
See test cases here: https://github.com/stratisproject/Research/blob/master/CoreSyncingAndProvenHeaders/ConsensusManager.txt

[2018-08-16 13:50] noescape00 opened #1938 "[Activation] Do BlockIntegrity check outside of lock"
integrity check is performed in CHT. Do it in CM outside of the cht's lock

[2018-08-16 14:32] noescape00 commented on #979
@dangershony was this done on activation or not yet?

[2018-08-16 14:33] noescape00 commented on #659
what is the status of this issue?

[2018-08-16 14:34] noescape00 commented on #585
what is the status of this issue? Wasn't it done on master already?

[2018-08-16 14:36] noescape00 commented on #229
already fixed on master

[2018-08-16 14:36] #229 closed

[2018-08-16 14:36] noescape00 commented on #1708
there is an issue for that that is a part of activation
closing because it's a duplicate

[2018-08-16 14:37] noescape00 commented on #1438
@dangershony was it done on activation branch?

[2018-08-16 14:37] noescape00 commented on #1395
@bokobza @fassadlr
Which of those tests were implemented in 1424? Can you please update the issue?

[2018-08-16 14:39] noescape00 commented on #1446
@majikandy what is the status of this issue?

[2018-08-16 14:39] noescape00 commented on #1255
@majikandy @dangershony wasn't it already fixed on master a week ago or so?

[2018-08-16 14:40] noescape00 commented on #1821
this should be done after activation.
removed sp1 label

[2018-08-16 14:40] noescape00 commented on #1823
this should be done after activation
removed sp1

[2018-08-16 15:09] fassadlr commented on #1395
@noescape00 it was @thefazzer you needed to tag ;)

[2018-08-16 15:13] noescape00 commented on #1395
Ah, yes. Sorry 🙂

[2018-08-16 15:36] ArcSin2000X commented on #1396
Running the suite of **intergration tests(158)** is providing better results when executed on bigger box(16CPU) when compared to lower spec. After running numerous test sessions I was able to isolate list of tests that consequently fail on big box test. Notably if you run most of the tests on the list as standalone test you are unlikely to find problems. The next step is to work through the list a

[2018-08-16 15:38] ArcSin2000X commented on #1396
Zip with stack traces
[HTML_version_of_top_offenders.zip](https://github.com/stratisproject/StratisBitcoinFullNode/files/2294238/HTML_version_of_top_offenders.zip)

[2018-08-16 16:28] bokobza commented on #1395
sending_transaction_over_policy_byte_limit
sending_transaction_near_policy_byte_limit
sending_transaction_with_double_spend_mined_trx
sending_transaction_with_double_spend_in_mempool

✔️ User tries to double-send and fails
Create 2 tests that tests a transaction size limit:
✔️ a test that has a big transaction but valid
✔️a test that has a big transaction but invalid (small size increment from the

[2018-08-16 17:09] bokobza commented on #1263
**It appears that support for SSL in RPC has been completely dropped in bitcoin.**

[SSL support for RPC dropped](https://github.com/bitcoin/bitcoin/blob/d6a92dd0ea42ec64f15b81843b4db62c7b186bdb/doc/release-notes.md#ssl-support-for-rpc-dropped)
[Why is JSON-RPC over SSL “strongly discouraged”?](https://bitcoin.stackexchange.com/questions/39117/why-is-json-rpc-over-ssl-strongly-discouraged)
[Enabli

[2018-08-16 17:30] Aprogiena commented on #1263
As I said before, I don't know why are we doing SSL. But if something makes sense, it is doing it for API because there we are actually sending password. So unless we switch to one-time tokens, and as long as we want to allow people to connect remotely to API, it makes sense to protect it. However, the argument on the bitcoin side is also strong because SSL is a big overkill for this task. There i

[2018-08-17 01:05] codingupastorm opened #1940 "[SC] Sct tool should validate parameter types on the spot"
When sending requests via the Sct tool, the string for 'address' is not validated to be correct before being sent. May be applicable for other fields so worth checking when working on this.

[2018-08-17 01:17] rowandh opened #1941 "[SC] GasInjector does not perform method resolution correctly"
Gas injector only resolves a method by name and not by signature.

[2018-08-17 02:17] rowandh opened #1942 "[SC] ModuleDefinition is created twice"
We read a ModuleDefinition from bytecode twice - once for validation and again for gas injection.

[2018-08-17 06:44] codingupastorm commented on #1714
Update on this:

- int, uint, long, and ulong can all be converted to bytes and back in contract code. See https://github.com/stratisproject/StratisBitcoinFullNode/pull/1945

- For strings, we can't do to UTF8 and back without Encoding.UTF8 without losing data - see https://gist.github.com/codingupastorm/84ce4e4e17de08898e3ced10d5496e01. Solution at this stage looks like to whitelist `Encoding.UTF

[2018-08-17 09:34] monsieurleberre commented on #1820
That seems to indicate that if we are not creating sessions or other mechanisms by which we keep track of the client's state, then CSRF is not needed :)
https://security.stackexchange.com/questions/166724/should-i-use-csrf-protection-on-rest-api-endpoints

[2018-08-17 09:51] bokobza commented on #1434
this is not required for sp1 as it requires more thoughts and it's an improvement rather than a must-have.

[2018-08-17 12:02] bokobza commented on #1438
done in #1683

[2018-08-17 12:02] #1438 closed

[2018-08-17 12:12] bokobza commented on #1434
Also do this as part of this change: https://github.com/stratisproject/StratisBitcoinFullNode/issues/1446

[2018-08-17 13:09] #1736 closed

[2018-08-17 13:10] dangershony commented on #1736
Duplicated with https://github.com/stratisproject/StratisBitcoinFullNode/issues/1937

[2018-08-17 13:18] #1768 closed

[2018-08-17 14:06] bokobza commented on #1819
Operations that take time:
- deriving private keys to sign the unspent items (in WalletTransactionHandler.AddSecrets)
- sign all the inputs (in TransactionBuilder.Sign)
- verify the transaction (in StandardTransactionPolicy.Check => Transaction.VerifyScript)

Each of the above item takes around 3-4ms, multiplied by the number of outputs we're using.

When we have a trx with 600 items, it takes aro

[2018-08-17 14:40] dangershony commented on #1462
On the activation branch this seems to be reproducible.
I have a data folder on bitcoin testnet that can reproduce this here.
https://stratisplatform-my.sharepoint.com/:u:/p/dan_gershony/EW6CNOLeBBRBnMZ13zK0iW8BlpCUfqgC9TDbYjcf0JGa_A?e=7YNBzc

[2018-08-17 15:17] monsieurleberre commented on #1820
I have had a look through our controllers and have put some questions I will come back to.
I leave them here for the moment.

### AppsController
- can get all available apps, maybe some are sensitive ?

### BlockStoreController
- ok

### ConnectionManagerController
[code]
Should be a POST ?

### ConsensusController
- ok

### DashboardController:
- ok (if nothing sensitive is coming out of the logs

[2018-08-17 21:30] sondreb commented on #1316
I have made a prototype for versioning of the API, I decided to go with number-versioning as oppose to date-numbering, which has become a standard for many, especially Microsoft. I do think number version is the best fit for this API.

I went with query-versioning, with the query named "api-version" (becoming more or less industry standard), and not versions in header nor URL.

Started by adding s

[2018-08-18 09:29] #1942 closed

[2018-08-19 21:44] bokobza commented on #1819
So I tried to remove the verification after the transaction build, and I'm of the view that it's a good thing to have as it catches bad trxes that buildTransaction wouldn't, like max trx size.
It's also not very heavy performance-wise, as only very big transactions will see an additional 2-3 seconds to their build time.
If this is a problem in the future, we can reopen.
Closing as Won't fix.

[2018-08-19 21:44] #1819 closed

[2018-08-19 21:54] bokobza commented on #1255
Closed with https://github.com/stratisproject/StratisBitcoinFullNode/commit/81b6d424e7d0c9658e46b337decc5dfe49a39f03

[2018-08-19 21:54] #1255 closed

[2018-08-20 04:42] #1941 closed

[2018-08-20 05:41] rowandh opened #1957 "[SC] ModuleDefinition is not disposed"
Mono.Cecil.ModuleDefinition consumes a stream during its lifecycle, which should be disposed.

[2018-08-20 10:46] bokobza commented on #1123
Added: Allow whitelisted nodes as inbound connections.

[2018-08-20 13:35] noescape00 commented on #1123
In `NetworkPeerServer.AcceptClientsAsync`

replace comment in red circle with actual implementation

![untitled](https://user-images.githubusercontent.com/10259355/44343587-f3f88400-a496-11e8-8083-c72936cad093.png)

[2018-08-20 14:26] noescape00 opened #1963 "Add coinview prefetching"
Add coinview prefetching to speed up validation

[2018-08-20 15:58] ferdeen commented on #1123
Went through this with @noescape00 and white listed nodes are stored in `ConnectionManagerSettings` :

https://github.com/stratisproject/StratisBitcoinFullNode/blob/f780d8eec417fec889467803a38a5106c27d2024/src/Stratis.Bitcoin/Configuration/Settings/ConnectionManagerSettings.cs#L89-L90

So we don't need to keep two lists, just inject `ConnectionManagerSettings` and check if the `TcpClient` is in th

[2018-08-20 21:13] noescape00 opened #1969 "[Activation] persist coinview tip as hash and height"

[2018-08-21 11:09] damien-r opened #1974 "[SC] NRE when calling startstaking"
Version of code: tag sc-alpha-latest, hash a5a3fd9ec63d75931c93e628494be50ce323fb0b
Project started: Stratis.StratisSmartContractsD

When I call /api/Staking/startstaking, I got the following error:
[code]
The problem is that no instance of `IPosMinting` is available to be injected.

[2018-08-21 13:30] noescape00 commented on #1936
Upd: currently only around 60 unit tests are failing.
So we are almost there.

[2018-08-21 15:28] noescape00 commented on #1810
fixed

[2018-08-21 15:28] #1810 closed

[2018-08-21 15:34] herbepau commented on #1395
_**MinerCreateBlockRelativeTimeLockedAsync**_ in **_MinerTests.cs_** already covers sequence locks (nSequence - relative time locks vs absolute time locks - nLockTime).  Accompanying this test are three other tests that also use and test against sequence locks: MinerCreateBlockNonFinalTxsInMempoolAsync, MinerCreateBlockAbsoluteHeightLockedAsync and MinerCreateBlockAbsoluteTimeLockedAsync.

[2018-08-21 16:20] #1395 closed, assigned to herbepau

[2018-08-21 17:50] alfhv opened #1978 "UpdateUTXOSet always null"
I have an exception throw because RuleContext.UpdateUTXOSet is always null. I have tried deleting all chain data but always the same. Due to this exception the consensus always crash and there is no wallet  synchronization.
OS: Windows10

method:
[code]

Logs:

info: Stratis.Bitcoin.Connection.ConnectionManagerBehavior[0]
      Peer '[::ffff:54.37.46.84]:26178' connected (outbound), agent '/Strati

[2018-08-22 01:06] #1957 closed

[2018-08-22 02:08] codingupastorm commented on #1876
This may actually be complete after the PR where we introduced Transfer and Call to the SmartContract API, so check it out and then this can be closed

[2018-08-22 02:45] rowandh opened #1982 "[SC] Contract upgrading unit test"
We need to implement a test for what happens when `Stratis.SmartContracts` NuGet/API is upgraded.

Criteria:
* Compile a contract against an earlier version of `Stratis.SmartContracts`
* Attempt to load the contract into an isolated ALC with a newer version of `Stratis.SmartContracts`

[2018-08-22 09:23] monsieurleberre opened #1984 "X509Certificate2 without password cannot be opened on MacOs"
There is an opened issue in .Net Core
https://github.com/dotnet/corefx/issues/31328

Basically creating a PFX certificate that is not secured by a password creates an issue on MacOs which cannot open then, and instead throws an error with the message "MAC verification failed during PKCS12 import (wrong password?)"

- If we don't want to support password protected certificates, we need to wait for

[2018-08-22 09:26] bokobza commented on #1813
Closed with https://github.com/stratisproject/StratisBitcoinFullNode/pull/1966

[2018-08-22 09:26] #1813 closed

[2018-08-22 09:44] noescape00 commented on #1969
We decided that it can be done after activation, therefore removing the label

[2018-08-22 09:54] bokobza commented on #1984
Linked to https://github.com/stratisproject/StratisBitcoinFullNode/issues/1263 and https://github.com/stratisproject/StratisBitcoinFullNode/pull/1897.

[2018-08-22 10:13] bokobza commented on #1263
Closed with #1897

[2018-08-22 10:13] #1263 closed

[2018-08-22 11:28] rowandh commented on #1831
As per discussion, the fallback function will be defined on `Stratis.SmartContracts.SmartContract` and have this signature: `void Fallback() `. This prevents multiple fallbacks being defined, and prevents the fallback accepting args - both problems with an attribute-based approach.

Calls made to a fallback that has not been implemented will not cause the empty fallback method to be invoked.

[2018-08-22 11:33] herbepau commented on #1934
Following a discussion with Ivan and Apro, it was determined that the method TestBlockValidity is not required and can be removed from the codebase.  This is because block validation is already happening during the mining phase in ConsensusManager.
Also, this is a sanity check and should never happen, and that not removing it from here would lead to performing partial validation twice.

[2018-08-22 12:07] thefazzer opened #1988 "Bugfix for failing Memory Pool Tests"
- Arises as a result of #1816 AddressFrom work
- NetworkPeerFactory is created in these tests initially with a tracker with a null endpoint
- Later NetworkPeerFactory is created with a populated endpoint
- The former version causes a failure
- Introduces a default value for endpoint if null

[2018-08-22 12:56] noescape00 opened #1990 "Light wallet"
This is for discussion.

Most of the stuff in light wallet feature should be removed. Also BlockNotification.cs and maybe more.

The reason for that is that we won't have a light wallet as it is now. It will be a pruned node with smaller set of consensus rules. Therefore almost everything we have for the light wallet is redundant after the activation.

[2018-08-22 12:56] noescape00 commented on #1990
@Aprogiena @dangershony @bokobza

[2018-08-22 12:57] rowandh commented on #1990
Breeze uses the light wallet feature - not sure if this has been considered.

[2018-08-22 13:00] bokobza commented on #1990
Why?

[2018-08-22 13:01] zeptin commented on #1990
A pruned node would be much easier to work with as far as Breeze is concerned. But there would be work needed to change to using it, obviously.

[2018-08-22 13:53] noescape00 commented on #1990
The light wallet as it is now is vulnerable to the same attacks the FN used to be before the proven headers and core way of syncing.

Therefore it's not safe to use the light wallet as it is now.

[2018-08-22 16:07] #1990 closed

[2018-08-22 19:32] noescape00 commented on #1877
Fixed

[2018-08-22 19:32] #1877 closed

[2018-08-23 06:56] codingupastorm opened #2000 "[SC] Internal Creates in smart contracts don't add to internaltransferlist."
The UTXOset will never be updated correctly. See `Create` method in InternalTransactionExecutor

Acceptance:
- New integration test with a create and a value sent should also check UTXOset for address balance.
- Internal creates can be made with an amount sent and a generated transaction will be created dishing out funds correctly.

[2018-08-23 07:59] codingupastorm opened #2002 "[SC] Contract receipts - Store them after execution, with all data."

[2018-08-23 08:00] codingupastorm opened #2003 "[SC] Contract receipts - Allow querying via controller, both by transaction hash and search terms."

[2018-08-23 08:02] codingupastorm opened #2004 "[SC] Index data in receipt logs."

[2018-08-23 09:46] bokobza commented on #1934
fixed with https://github.com/stratisproject/StratisBitcoinFullNode/pull/1987

[2018-08-23 09:46] #1934 closed

[2018-08-23 11:34] codingupastorm opened #2007 "[SC] P2PKH should not be allowed to be sent to smart contracts."
Would be a new consensus rule / mempool rule.

We don't want to see people losing money to this, and the alternative, where we execute p2pkh calls, is not good either.

If the performance impact is severe we can always remove this later without significant impact to the network.

[2018-08-23 11:37] codingupastorm commented on #1833
The implementation of this is more or less complete, we just need to create and run specifications / complete testing for it.

[2018-08-23 12:35] noescape00 opened #2008 "Peer endpoint is never set in the validation context"
Peer endpoint is never set in the validation context of the consensus rules engine but it's used for banning in case validation failed.

We need to set it for every validation in case header/block was provided by a peer and not mined

[2018-08-23 12:35] noescape00 commented on #2008
@dangershony would you like to fix it or I can do it?

[2018-08-23 14:49] mikedennis commented on #1283
I assume this is only for fullnode wallet as light wallet does not have reference to blockstore. So only going to add this to walletpolicy for now which only applies to fullnode wallet.

[2018-08-23 15:41] noescape00 commented on #1283
Yes.

About light wallet we are not sure right now so let's not touch it yet.

[2018-08-23 16:16] sondreb opened #2012 "Zeroed wallet files when saved around unplanned restarts"
I have a Windows Server that is notoriously unstable, it restarts normally at least once a day, but not always. It is likely some driver / hardware fault.

It runs Windows Server 2012 R2 and is used for Storage Spaces.

The C:\ is a normal disk (not a Storage Space), and the default AppData folder is used to store the chain database and wallet files.

It has happened twice in a few weeks time that

[2018-08-23 16:31] bokobza commented on #2012
Thanks for raising the issue @sondreb.
We've seen that before and I thought we took care of it by more or less doing what you suggested.
Check inside this method, that's the one we use to save files:
https://github.com/stratisproject/StratisBitcoinFullNode/blob/93491b76bc8f314d79c419ae8b5a6c68d2e1a245/src/Stratis.Bitcoin/Utilities/FileStorage.cs#L50-L74

[2018-08-23 19:33] noescape00 opened #2014 "Mark block invalid if partial of full validation fails"
After FV or PV fail we should mark blocks as invalid AND when we receive a header we check against invalid blocks list and if presented header is there- ban the peer.

[2018-08-23 19:35] noescape00 commented on #1814
Fixed in #2011

[2018-08-23 19:44] noescape00 opened #2015 "Cache blocks that are being disconnected and use cache for reconnection if needed"
Here is a scenario:

We are at height 1000a and we see chain of height 1005b with a forkpoint at 700a.

We download the chain and we start a reorg- first rewind till 700a and then connect one by one new blocks. When we connect we signal which leads to pushing 701b to BSQ. That leads to reorg in BSQ.
Now we find out that 704b is invalid and we rewind back to 700a to reconnect old chain.

However no

[2018-08-24 03:59] #1831 closed

[2018-08-24 04:12] #1837 closed

[2018-08-24 04:57] #2002 closed

[2018-08-24 05:07] codingupastorm opened #2018 "[SC] Receipts - add 'To' field to receipts inside SmartContractCoinviewRule"

[2018-08-24 12:04] bokobza opened #2020 "[Activation] Fix BlockNotification class and BlockNotificationTest"
This was broken during the Activation work.
It needs to be fixed.

[2018-08-24 12:54] bokobza commented on #1936
@fenix2222: PowMiningTest
@zeptin : PeerBanningTest
@bokobza: Stratis.Bitcoin.Features.Notifications.Tests ---- in PR
@majikandy : MempoolValidatorTest
@herbepau : BlockPullerTest
@thefazzer : CoinbaseHeightRuleTest
@ferdeen : TransactionLocktimeActivationRuleTest

![image 2](https://user-images.githubusercontent.com/1867877/44585693-147d5280-a7a5-11e8-8db2-1433a96f0fe4.png)

[2018-08-24 13:45] noescape00 commented on #1936
Will fix following ones:

Stalling_DoesntAffectPeersThatFailedToDeliverNotImportantBlocksAsync
Stalling_PeerStallsButQualityScoreIsTheBestBecausePeerIsTheOnlyOneAsync
ProcessHeadersAsync_PeerThatSentInvalidHeaderIsBannedAsync

[2018-08-24 15:36] majikandy opened #2027 "Unimplemented Mempool validator tests"
Removed the following tests from the Mempool validator test suite as they are "fake green" tests and give an illusion that things are covered that aren't

Saved here so that they can be brought in as and when (and if) they are implemented.

[code]

[2018-08-24 15:57] noescape00 commented on #2014
fixed

[2018-08-24 15:57] #2014 closed

[2018-08-24 16:01] noescape00 opened #2030 "When partial validation fails with BadWitnessNonceSize require peer to provide same block but with witness data"
Basically implement what we used to have in consensus loop but do it in consensus manager.

ConsensusLoop's code:

[code]

[2018-08-24 16:02] noescape00 commented on #2030
@bokobza can you please add this issue to the sprint?

[2018-08-26 02:05] codingupastorm opened #2033 "[SC] Rearrange tests logically"
1) Work out what can be tested in unit tests rather than integration tests.

2) Many of the integration tests execute a similar scenario, and then different tests check for different effects. Instead, we should work out the scenarios we want to test as a whole, and then check ALL the side effects on ALL of them.

[2018-08-26 11:36] codingupastorm commented on #2033
@rowandh I listed roughly what we're testing for at the moment, and what I think we should move towards. Could you comment?

Current scenarios:
-	Auction
-	Sending normal transactions
-	Saving to storage
-	Transfers and internal transfers
-	Creates and Calls with both 0 value and some value
-	Execution failure, via gas or otherwise, and internal execution failures
-	Calling the fallback
-	Internal

[2018-08-26 19:44] bokobza commented on #1938
Closed with https://github.com/stratisproject/StratisBitcoinFullNode/pull/1999

[2018-08-26 19:44] #1938 closed

[2018-08-26 20:03] mikedennis commented on #1283
So the fee estimation is done via the transaction builder (NBitcoin). It requires the minimum to be at least ```minRelayTxFee``` which is currently 0.0001 Strat/kb.  I'm not sure where the 60x comes from mentioned above in PowBlockAssembler.cs, as this file no longer seems to exist in the codebase,

StratisX uses a fixed fee of 0.0001 (10,000 Satoshi) so the fallback fee that full node wallet is c

[2018-08-27 01:28] #1982 closed

[2018-08-27 02:09] #1832 closed

[2018-08-27 02:51] #2003 closed

[2018-08-27 03:02] #1876 closed

[2018-08-27 03:09] rowandh opened #2037 "[SC] Remove static support"
Remove static support:
* They don't make sense in a contract context at the moment. The contract's Type should never need to define methods that are separate from the contract instance.
* Static functionality can be emulated by defining a method that does not use 'this'.
* If there's a future use case we can introduce support.

Criteria:
* Static fields and methods on a top-level contract should c

[2018-08-27 03:09] codingupastorm commented on #1714
We ultimately decided to implement a Converter that will be injected into the SmartContract.

Acceptance Criteria:
- Smart contracts can internally serialize all of the allowed primitives to bytes and back, in the same way that the persistentstate stores them.
- A sample in a smart contract converting string to hex and back.

[2018-08-27 03:11] rowandh commented on #1832
Closing this for now. We have decided not to expose unusable functionality in the Stratis.SmartContracts public API.

[2018-08-27 18:49] bokobza commented on #1435
Closed by https://github.com/stratisproject/StratisBitcoinFullNode/pull/2009

[2018-08-27 18:49] #1435 closed

[2018-08-28 11:31] dangershony commented on #1399
@Mike-EEE would you create a project resharper file for that?

[2018-08-28 11:34] dangershony commented on #1479
This is done in activation right?

[2018-08-28 12:07] Mike-EEE commented on #1399
Good question @dangershony  ... you mean by like a commit policy or some such?  I use ReSharper to format my code before committing, of course.   There is also an extension that easily formats all changed code for you as well:
https://github.com/Zvirja/ReSharperHelpers

As far as performing this on commit, it does _seem_ like there would be something that does this for you, but unfortunately, a qu

[2018-08-28 12:11] noescape00 commented on #1479
@dangershony yes

[2018-08-28 12:15] #1525 closed

[2018-08-28 12:17] dangershony commented on #1534
@damien-r this is a fairly simple change if you want to submit a PR that allows to inject a coin selector and uses the default if none is injected.
@bokobza WDYT

[2018-08-28 12:19] dangershony commented on #1561
@sondreb why do the nodes disconnect any idea, Is there an exception thrown?

[2018-08-28 12:27] bokobza commented on #1283
I prefer having the same as StratisX.
I wonder where this 60K sats/Kb is coming from.

[2018-08-28 12:27] dangershony commented on #1729
https://github.com/stratisproject/StratisBitcoinFullNode/pull/2044

[2018-08-28 12:28] codingupastorm commented on #2033
Slightly more comprehensive plan:
Integration test for each of the following:

- Write a new contract that has a new method for each possible param type. Store, serialize and log each one in each method. Check storage and receipts.
- Receipts added to Auction and end-to-end tested
- Transfers (check blocks for correct condensing tx every time)
 - Transfer to human
 - Transfer to contract
 - Method

[2018-08-28 12:30] dangershony commented on #1730
Very good idea, but this should be done as an additional feature as its not part of our default wallet, multi-sig keys will be managed bu the caller.
Also I would say that we already have many libraries to deal with multisig requirements (look at TransactionBuilder and its tests) the ability to broadcast a multi sig trx is already in the node.
The one thing we are missing is a block explorer that

[2018-08-28 12:33] dangershony commented on #1761
We should implement RPC methods as and when we need them else it might be useless work.
If we dont need them for our core code we can delegate to the foundation

[2018-08-28 12:35] dangershony commented on #1791
For this task we have to be careful not to mix PH in to the low level code (for example PH are not needed for Bitcoin)  This means PH should be part of rules or an override of one of the validators.

[2018-08-28 12:36] dangershony commented on #1792
We should try to avoid making changes that are specific to PH in the low level consensus code.

[2018-08-28 12:38] dangershony commented on #1803
Any more info on this?

Perhaps @NicolasDorier may find it interesting.

[2018-08-28 12:49] dangershony commented on #1822
Great work @DanGould we will verify all the findings when the node is stable.

[2018-08-28 12:50] dangershony commented on #1858
Thanks @herbepau without logs or a repro mechanism this will be hard to follow up on

[2018-08-28 13:05] dangershony commented on #1978
There is a bug we are aware of that causes that (most likely some race condition) it will be useful to get this with full logs enabled.
Unfortunate the only work around is to resync the chain.

We have an idea of what might cause this.

[2018-08-28 13:10] dangershony commented on #1978
I think its a duplicate of this
https://github.com/stratisproject/StratisBitcoinFullNode/issues/1462

[2018-08-28 13:34] noescape00 commented on #1761
We don't really need them because we use API.

However around 4 people contacted me in the last 2 months who were tying to integrate FN to their project and they had problems with missing RPC methods. 2 of them chose QT wallet over FN just because of that reason.

So I'd say RPC methods are really needed in case your goal is to make it easy for non-stratis developers to use FN.

[2018-08-28 14:04] dangershony opened #2046 "Ensure modularity of consensus layer"
Some of the code in Stratis.Bitcoin is mixed with high level consensus code (by high level I mean network specific) we need to try to keep the low level (Stratis.Bitcoin) as clean as possible from specific network requirements (for example witness is a Bitcoin scheme, coins stake is specific to POS etc...)

This issue is to track what can be clearly separated.

**ConsensusErrors**
ConsensusErrors

[2018-08-28 14:22] noescape00 opened #2048 "Node will disconnect peers that don't support required services"
Node will disconnect peers that don't provide network services which is a problem in case SPV client syncs from us. Such a client can't provide network services and we will disconnect it.

Check all code that invokes NetworkPeerRequirement.Check

[2018-08-28 15:42] NicolasDorier commented on #1803
it seems indeed a bug

[2018-08-28 16:00] NicolasDorier commented on #1803
Fixed it, I think it should happen only for 0. I should add better tests about it though.

[2018-08-28 17:16] dangershony commented on #2048
After checking the code we confirm its probably fine we need to fix two places.
A bug in the method 'AddDiscoveredNodesRequirement' delete param `discoveredNodeRequiredService`
And use param `services` instead of `NetworkPeerServices.NODE_WITNESS`

[2018-08-28 17:17] dangershony commented on #2048
We need to set `NetworkPeerServices` in to the Network and only enrich it in Store.

[2018-08-29 01:26] codingupastorm commented on #1755
@rowandh lets make this post-launch too?

[2018-08-29 02:39] rowandh commented on #2000
Add:
* Internal creates that fail should not update the internal transfer list

[2018-08-29 02:56] #2018 closed

[2018-08-29 06:47] codingupastorm opened #2054 "[SC] Scenario where a contract receives 0 but makes a method call elsewhere, also with 0, generates an invalid CondensingTransaction."

[2018-08-29 09:50] #1283 closed

[2018-08-29 09:52] dangershony commented on #1761
Yes so please create a list of the RPC methods they require and we can ask the foundation to create bounties.

[2018-08-29 09:55] dangershony commented on #1803
Thanks @NicolasDorier
@rowandh on your free time can you move the fix over to our repo?

[2018-08-29 10:33] noescape00 commented on #1761
Basically all the commands that are dealing with wallets-
get total amount of money that was received by address
get current address money amount (with argument of how many confirmations required).

Those are 2 that pop up in my head right away.

[2018-08-29 10:38] codingupastorm opened #2058 "[SC] Add Exception to the stored receipts"
As per title.

Only stored on the node, not part of consensus.

[2018-08-29 15:23] #1820 closed

[2018-08-29 19:52] DanGould commented on #1822
After speaking with Ethan, I found out that the Core devs' policy is now to **not** disclose CVEs because they don't want to be responsible for alts' follies. Notice reporting drops significantly after 2015.

He mentioned their new practice to find some small bug which, when fixed, patches a vulnerability without ever disclosing that vulnerability. He mentioned a few in particular with no document

[2018-08-30 01:16] #2054 closed

[2018-08-30 02:30] #2000 closed

[2018-08-30 10:44] dangershony commented on #1845
I am not sure this will be done so please talk to me before acting on this.

[2018-08-30 10:57] noescape00 commented on #1845
Sure.

[2018-08-30 12:46] #1714 closed

[2018-08-31 07:38] codingupastorm commented on #1834
The problem here is nullified by #2076 in the short-term.

In the long-term, we need to look at seriously refactoring the BlockDefinitions. When this has happened, we need to do size accounting for generated transactions and gas refunds when building a block, and then need to only accept new transactions when they don't push transactions over the actual block size.

Of course, this all needs to be

[2018-08-31 10:11] bokobza commented on #2008
Closed with https://github.com/stratisproject/StratisBitcoinFullNode/pull/2052

[2018-08-31 10:11] #2008 closed

[2018-08-31 10:47] bokobza commented on #2030
Closed with https://github.com/stratisproject/StratisBitcoinFullNode/pull/2043

[2018-08-31 10:47] #2030 closed

[2018-08-31 11:14] bokobza commented on #1677
Closed with https://github.com/stratisproject/StratisBitcoinFullNode/pull/1914

[2018-08-31 11:14] #1677 closed

[2018-08-31 11:15] bokobza commented on #1441
Closed with https://github.com/stratisproject/StratisBitcoinFullNode/pull/1523

[2018-08-31 11:15] #1441 closed

[2018-08-31 11:29] zeptin commented on #1425
I do get the following when running the commands in powershell:

[code]

Should probably be this instead:

[code]

[2018-08-31 12:09] #1425 closed

[2018-08-31 14:21] fassadlr opened #2084 "[Activation] Create integration tests for Consensus Manager"
Go through all the tests as put out by Apro and Ivan.

https://github.com/stratisproject/Research/blob/master/CoreSyncingAndProvenHeaders/ConsensusManager.txt

[2018-08-31 14:42] noescape00 opened #2085 "Rewrite and update performance counter for consensus manager"
Old performance counter doesn't support consensus manager, therefore it should be rewritten.

Should be done after activation is merged.

[2018-08-31 14:43] noescape00 opened #2086 "Periodic log for block puller"
There is a TODO in block puller to add periodic log for block puller with it's statistics

[2018-08-31 14:44] noescape00 opened #2087 "Feature initialization- change to InitializeAsync"
Currently we don't support async on features initialization. All the initialization code is basically `GetAwaiter.GetResult()`. Initialize code should support async.

[2018-08-31 14:46] noescape00 opened #2088 "Peer banning overload that doesn't have banning time parameter"
Peer banning is used 95% of the time with default banning time from connection manager. That introduces dependency on connection manager in every component that uses banning.
We can simplify design of a lot of components a lot if we add an overload to peer banning which won't accept banning time and use default banning time instead.

[2018-08-31 14:51] noescape00 opened #2089 "Block puller- improve peer speed estimation"
currently block puller peer's estimation is a bit hacky and it should be analyzed and improved.

one of the approaches:

[code]

[2018-08-31 14:53] noescape00 opened #2090 "Don't copy NLog.config on every build"
Don't copy NLog.config on every build, that overrides custom nlog configs sometimes which is really annoying during debugging